
<section class="top-header" style="border-top:2px solid #d9534f">
  <div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100">
        <img src="../../assets/styles/new-home-page/single/images/new_dpm.jpg" style="width: 88px;height: 88px;margin-left:15%;"/>
      </div>
    </div>
  </div>
</section>

<section class="back2">
  <div fxLayout="column">
    <div fxFlex="100" fxLayout="column">

      <h3 class="loginp"><b>Create New Password</b></h3>
    </div>

    <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
      <div class="login_box" style="border-radius:10px">
        <form id="example-form" (ngSubmit)="create_password()" #f="ngForm" novalidate>
          <p *ngIf="result" style="color:lightseagreen">{{result}}</p>
          <mat-form-field style="width:100%">
            <input matInput type="password" name="password" placeholder="New Password" [(ngModel)]="model.password" autofocus required>
            <mat-error *ngIf="inputChecking.hasError('required')">
              Password is <strong>Required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input matInput type="password" name="cpassword" placeholder="Confirm New Password" [(ngModel)]="model.cpassword" required>
            <mat-error *ngIf="inputChecking.hasError('required')">
              Confirm Password is <strong>Required</strong>
            </mat-error>
          </mat-form-field>
          <br/>
          <div>
            <button mat-raised-button class="details_b" type="submit" [disabled]="!f.form.valid">Submit
              <i class="fa fa-spinner fa-spin" style="font-size:24px;" *ngIf="load"></i>
              <i class="fa fa-check" style="font-size:24px;color:greenyellow" *ngIf="sent"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
