/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */

/* Base styles */
.column {
  float: left;
}

.size-1of4 {
  width: 25%;
}

.size-1of3 {
  width: 33.333%;
}

.size-1of2 {
  width: 50%;
}

.item_img {
  margin: 20px 10px;
  border: 2px solid #fff;
  box-shadow: 0 0 2px #333;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.item_img:hover {
  border: 2px solid #f1f1f1;
  -webkit-filter: brightness(0.80);
  filter: brightness(0.80);
}

/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
  #timeline[data-columns]::before {
    content: '1 .column';
  }
}

@media screen and (min-width: 451px) and (max-width: 700px) {
  #timeline[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
  #timeline[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

@media screen and (min-width: 851px) {
  #timeline[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}
