@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:400,500,700';

$base-font-family: 'Roboto', sans-serif;
$base-font-size: 14px;
$base-color: #666;
$base-background-color: #fff;
$heading-font-family: 'Roboto Slab', serif;
$font-weight-four: 400;
$font-weight-five: 500;
$font-weight-seven: 700;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-family: $base-font-family !important;
  font-size: $base-font-size;
  color: $base-color;
  line-height: 22px;
  font-weight: $font-weight-four;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

a:hover, a:focus {
  text-decoration: none;
}



