<section class="top-header1">
  <div class="container">
    <div fxLayout fxLayoutAlign="center center" >
      <div fxFlex="100%">
        <img src="assets/styles/new-home-page/single/images/new_dpm.jpg" height="60"/>
      </div>
      <a [routerLink]="['/doctor-log-in']">
        <div class="pull-right logtxt" style="color: white;margin-top: 22px;"> Login</div>
      </a>
    </div>
  </div>
</section>
<h2 class="text-center mrg_btm2" align="center" style="margin: 10px 0px 12px 0;">Welcome to the world of Digital Patient Management</h2>

<p class="text-center mrg_btm2" align="center">Digitize your prescription and drive adherence</p>
<p class="text-center mrg_btm2" align="center" >Enable Access(Tele/Video/Priority Consults, Ask a Question,
  Appointments)</p>

<div class="contain" style="    padding-bottom: 20px;">
  <div fxFlex="100%"  align="center">

    <mat-card>
      <form id="form" fxLayout="column" class="example-form" name="form" (ngSubmit)="register()" novalidate
            #f="ngForm">
        <h4 class="mrg_btm r_h4" id="head">Doctor Registration</h4>
        <mat-form-field class="example-full-width">
          <input matInput name="name" class="type-input" placeholder="First Name" [(ngModel)]="model.name"
                 #name="ngModel" required>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput name="lname" class="type-input" placeholder="Last Name" [(ngModel)]="model.lname"
                 #lname="ngModel" required>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Last Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!--<div class="ri">-->
        <mat-radio-group style="float: left;" [(ngModel)]="model.gender" #gender="ngModel">
          <mat-radio-button style="padding-right: 14px;" type="radio" name="gender" value="Male"
                           > Male</mat-radio-button>
          <mat-radio-button type="radio"  name="gender" value="Female"
                            > Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="example-form">
          <input matInput type="email" name="email" class="type-input" placeholder="Email Address"
                 [(ngModel)]="model.email" #email="ngModel"
                 required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Valid email address is <strong>required</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-form">
          <input matInput type="password" class="type-input" id="password" required placeholder="Password"
                 [(ngModel)]="model.password" name="password"
                 #password="ngModel">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-form">
          <input matInput type="password" class="type-input" id="confirmPassword" required placeholder="Confirm password"
                 validateEqual="password"
                 [(ngModel)]="model.confirmPassword" name="confirmPassword"
                 #confirmPassword="ngModel">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Retype your Password
          </mat-error>
        </mat-form-field>

        <h4 class="mrg_btm2" style="text-align: left;">Upload your photo</h4>
          <input type="file" class="inputFile" (change)="selectFile($event)" style="float:left;">

        <input type="hidden" value="{{uploadedfile}}" name="image" [(ngModel)]="model.image" #image="ngModel">

        <div>
          <mat-form-field style="width: 100%;">
            <mat-select  name="country_code" placeholder="Select Country Code" [(value)]="selected"
                         (selectionChange)="function(selected)" [formControl]="selecte" >
              <mat-option> Select Country Code</mat-option>
              <mat-option value="+91">India +91</mat-option>
              <mat-option value="+1"> +1 United state +1</mat-option>
              <mat-option value="+44">+44 United Kingdom</mat-option>
              <mat-option value="+971"> +971 United Arab Emirates</mat-option>
              <mat-option value="+92">+92 pakistan</mat-option>
              <mat-option value="+977"> +977 Nepal</mat-option>
            </mat-select>
            <mat-error *ngIf="selecte.hasError('required')">You must make a selection</mat-error>
          </mat-form-field>
        </div>
        <!--<div class="md-form">
          <mat-form-field>
            <mat-select class="form-control" #t (change)="function(t.value)" name="country_code">
              <mat-option value=""> Select Country Code</mat-option>
              <mat-option value="India">India +91</mat-option>
              <mat-option value="United state"> +1 United state +1</mat-option>
              <mat-option value="United Kingdom">+44 United Kingdom</mat-option>
              <mat-option value="United Arab Emirates"> +971 United Arab Emirates</mat-option>
              <mat-option value="pakistan">+92 pakistan</mat-option>
              <mat-option value="Nepal"> +977 Nepal</mat-option>
            </mat-select>
          </mat-form-field>
        </div>-->

        <div>
          <!--<input matInput type="number" name="mobile"-->
                 <!--placeholder="Phone Number" pattern="[0-9]*" minlength="10"-->
                 <!--maxlength="10" [(ngModel)]="model.mobile" #mobile="ngModel" required style="-->
                                                     <!--background-color: #ffff;-->
                                                     <!--border: none;box-shadow: none;-->
                                                     <!-- -webkit-transition: none;-->
                                                     <!--transition: none;">-->
          <!--<div [hidden]="mobile.valid || mobile.pristine">-->
            <!--<div [hidden]="!mobile.hasError('minlength')"></div>-->
            <!--<div [hidden]="!mobile.hasError('required')"></div>-->
            <!--<div [hidden]="!mobile.hasError('pattern')"></div>-->
          <!--</div>-->
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input matInput type="number" name="mobile" placeholder="Phone Number" pattern="[0-9]*" minlength="10"
                   maxlength="10" [(ngModel)]="model.mobile" #mobile="ngModel" required style="
                                                     background-color: #fff;
                                                     border: none;box-shadow: none;
                                                     -webkit-transition: none;
                                                     transition: none;" #f1>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <button mat-flat-button class="btn btn-info text-center" type="button" (click)="phone_btn_onclick()">Verify mobile number
        </button>

        <div class="md-form">
          <mat-form-field style="width: 100%;">
            <mat-select  name="specialty" [(ngModel)]="model.specialty" #specialty="ngModel" placeholder="Speciality">
              <!--<mat-option value="">Speciality</mat-option>-->
              <mat-option value="Acupressurist">Acupressurist</mat-option>
              <mat-option value="Aesthetic Medicine Specialist">Aesthetic Medicine Specialist</mat-option>
              <mat-option value="Allergist/Immunologist">Allergist/Immunologist</mat-option>
              <mat-option value="Alternative Medicine Specialist">Alternative Medicine Specialist</mat-option>
              <mat-option value="Anesthesiologist">Anesthesiologist</mat-option>
              <mat-option value="Audiologist">Audiologist</mat-option>
              <mat-option value="Ayurveda Specialist">Ayurveda Specialist</mat-option>
              <mat-option value="Bariatrician">Bariatrician</mat-option>
              <mat-option value="Cardiologist">Cardiologist</mat-option>
              <mat-option value="Cosmetic Physician">Cosmetic Physician</mat-option>
              <mat-option value="Cosmetic/Plastic Surgeon">Cosmetic/Plastic Surgeon</mat-option>
              <mat-option value="Dentist">Dentist</mat-option>
              <mat-option value="Dermatologist">Dermatologist</mat-option>
              <mat-option value="Diabetologist">Diabetologist</mat-option>
              <mat-option value="Dietitian/Nutritionist">Dietitian/Nutritionist</mat-option>
              <mat-option value="Ear-Nose-Throat (ENT) Specialist">Ear-Nose-Throat (ENT) Specialist</mat-option>
              <mat-option value="Endocrinologist">Endocrinologist</mat-option>
              <mat-option value="Endocrinologist">Epidemiologist</mat-option>
              <mat-option value="Gastroenterologist">Gastroenterologist</mat-option>
              <mat-option value="General Physician">General Physician</mat-option>
              <mat-option value="General Surgeon">General Surgeon</mat-option>
              <mat-option value="Geneticist">Geneticist</mat-option>
              <mat-option value="Geriatrician">Geriatrician</mat-option>
              <mat-option value="Gynaecologist">Gynaecologist</mat-option>
              <mat-option value="Hematologist">Hematologist</mat-option>
              <mat-option value="Hepatologist">Hepatologist</mat-option>
              <mat-option value="Homeopath">Homeopath</mat-option>
              <mat-option value="IVF Specialist">IVF Specialist</mat-option>
              <mat-option value="Integrated Medicine Specialist">Integrated Medicine Specialist</mat-option>
              <mat-option value="Internal Medicine Specialist">Internal Medicine Specialist</mat-option>
              <mat-option value="Microbiologist">Microbiologist</mat-option>
              <mat-option value="Mother and Child Care">Mother and Child Care</mat-option>
              <mat-option value="Nephrologist">Nephrologist</mat-option>
              <mat-option value="Neurologist">Neurologist</mat-option>
              <mat-option value="Neurosurgeon">Neurosurgeon</mat-option>
              <mat-option value="Non-invasive Cardiologist">Non-invasive Cardiologist</mat-option>
              <mat-option value="Nuclear Medicine Physician">Nuclear Medicine Physician</mat-option>
              <mat-option value="Obstetrician">Obstetrician</mat-option>
              <mat-option value="Occupational Therapist">Occupational Therapist</mat-option>
              <mat-option value="Oncologist">Oncologist</mat-option>
              <mat-option value="Ophthalmologist">Ophthalmologist</mat-option>
              <mat-option value="Optometrist">Optometrist</mat-option>
              <mat-option value="Oral And Maxillofacial Surgeon">Oral And Maxillofacial Surgeon</mat-option>
              <mat-option value="Orthopedist">Orthopedist</mat-option>
              <mat-option value="PMR (Physical Medicine &amp; Rehabilitation) Specialist">PMR (Physical Medicine &amp;
                Rehabilitation) Specialist
              </mat-option>
              <mat-option value="Pain Management Specialist">Pain Management Specialist</mat-option>
              <mat-option value="Pathologist">Pathologist</mat-option>
              <mat-option value="Pediatric Surgeon">Pediatric Surgeon</mat-option>
              <mat-option value="Pediatrician">Pediatrician</mat-option>
              <mat-option value="Phlebologist">Phlebologist</mat-option>
              <mat-option value="Physiotherapist">Physiotherapist</mat-option>
              <mat-option value="Podiatrist">Podiatrist</mat-option>
              <mat-option value="Proctologist">Proctologist</mat-option>
              <mat-option value="Psychiatrist">Psychiatrist</mat-option>
              <mat-option value="Psychologist">Psychologist</mat-option>
              <mat-option value="Pulmonologist">Pulmonologist</mat-option>
              <mat-option value="Radiologist">Radiologist</mat-option>
              <mat-option value="Rheumatologist">Rheumatologist</mat-option>
              <mat-option value="Robotic Surgeon">Robotic Surgeon</mat-option>
              <mat-option value="Sexologist">Sexologist</mat-option>
              <mat-option value="Siddha Specialist">Siddha Specialist</mat-option>
              <mat-option value="Somnologist">Somnologist</mat-option>
              <mat-option value="Speech Therapist">Speech Therapist</mat-option>
              <mat-option value="Toxicologist">Toxicologist</mat-option>
              <mat-option value="Trichologist">Trichologist</mat-option>
              <mat-option value="Unani Specialist">Unani Specialist</mat-option>
              <mat-option value="Urologist">Urologist</mat-option>
              <mat-option value="Venereologist">Venereologist</mat-option>
              <mat-option value="Veterinarian">Veterinarian</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <!--<input type="number" name="licence_number" [(ngModel)]="model.licence_number" #licence_number="ngModel"-->
                 <!--class="form-control" placeholder="Medical Registration Number" style="-->
                                                     <!--background-color: #fff;-->
                                                     <!--border: none;box-shadow: none;-->
                                                     <!-- -webkit-transition: none;-->
                                                     <!--transition: none;">-->
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input matInput type="number" name="licence_number" [(ngModel)]="model.licence_number" #licence_number="ngModel"
                   placeholder="Medical Registration Number" required style="
                                                     background-color: #fff;
                                                     border: none;box-shadow: none;
                                                     -webkit-transition: none;
                                                     transition: none;" #f1>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Medical Registration Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <!--<p class="mrg_btm2">Upload Medical Certificate</p>-->
        <h4 class="mrg_btm2" style="text-align: left;">Upload Medical Certificate</h4>
          <input type="file" name="file" class="inputFile" (change)="selectFileM($event)" style="width: 100%;">

        <input type="hidden" value="{{uploadedfile1}}" [(ngModel)]="model.medical_certificate"
               name="medical_certificate" #medical_certificate="ngModel">

        <div class="example-container">
          <div class="md-form">
            <mat-form-field style="width: 100%;">
              <mat-select  name="question1" placeholder="Security Question 1">
                <mat-option value="">Security Question 1</mat-option>
                <mat-option value="">What is the first name of your best friend in high school?</mat-option>
                <mat-option value="">What was the name of your first pet?</mat-option>
                <mat-option value="">What was the first thing you learned to cook?</mat-option>
                <mat-option value="">What was the first film you saw in the theater?</mat-option>
                <mat-option value="">Where did you go the first time you flew on a plane?</mat-option>
                <mat-option value="">What is the last name of your favorite elementary school teacher?</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="example-full-width"><input matInput type="text" name="ans1" class="type-input" placeholder="Answer"></mat-form-field>

        <div class="md-form">
          <mat-form-field style="width: 100%;">
            <mat-select  name="question2" placeholder="Security Question 2">
              <mat-option value="">Security Question 2</mat-option>
              <mat-option value="">What is your dream job?</mat-option>
              <mat-option value="">What is your favorite children’s book?</mat-option>
              <mat-option value="">What was the model of your first car?</mat-option>
              <mat-option value="">What was your childhood nickname?</mat-option>
              <mat-option value="">Who was your favorite film star or character in school?</mat-option>
              <mat-option value="">Who was your favorite singer or band in high school?</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width"><input matInput type="text" name="ans2" class="type-input" placeholder="Answer"></mat-form-field>

        <div class="md-form">
          <mat-form-field style="width: 100%;">
            <mat-select  name="question3" placeholder="Security Question 3">
              <mat-option value="">Security Question 3</mat-option>
              <mat-option value="">In what city did your parents meet?</mat-option>
              <mat-option value="">What was the first name of your first boss?</mat-option>
              <mat-option value="">What is the name of the street where you grew up?</mat-option>
              <mat-option value="">What is the name of the first beach you visited?</mat-option>
              <mat-option value="">What was the first album that you purchased?</mat-option>
              <mat-option value="">What is the name of your favorite sports team?</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width"><input matInput type="text" name="ans3" class="type-input" placeholder="Answer"></mat-form-field>

        <p class="mrg_btm text-center" style="text-align:justify">These questions will be used to verify your identity and recover your
          password in case you forget it.</p>


        <div fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex.xs="10" fxFlex="0">
        <mat-checkbox  name="check" style="    white-space: unset;"></mat-checkbox>
        </div>
        <div fxLayout="column" fxFlex.xs="90" fxFlex="90">
          <p class="mrg_btm text-center" style="margin-left:-70px;margin-top:3px;" ngStyle.xs="margin-left:0px;margin-top:0px;">
          I have read and agree to the
            <a href="terms-of-service" style="text-decoration: none;">Terms of Service</a> and <a href="privacy-policy" style="text-decoration: none;">Privacy Policy</a></p>
        </div>
        </div>
        <div style="text-align: center;" fxLayoutAlign="center center"><button mat-raised-button class="details_b text-center" type="submit" [disabled]="!f.form.valid">Register</button></div>
      </form>
      <p class="text-center" align="center">Already have an account? <a [routerLink]="['/doctor-log-in']" style="text-decoration: none;">Login</a></p>
    </mat-card>

  </div>
</div>



<!--<nav class="navbar navbar-inverse nav_panel">
  <div class="container">
    <div class="mrg2">
      <div class="pull-left"><img src="https://storage.googleapis.com/web-assets/dpm_doctor.png" height="50"/></div>
      <a [routerLink]="['/doctor-log-in']">
        <div class="pull-right logtxt"> Login</div>
      </a>
      <div class="clearfix"></div>
    </div>
  </div>
</nav>
<section class="back2">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="mrg_btm2">Welcome to the world of Digital Patient Management</h3>
          <p class="text-center mrg_btm2">Digitize your prescription and drive adherence</p>
          <p class="text-center mrg_btm2">Enable Access(Tele/Video/Priority Consults, Ask a Question, Appointments)</p>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
        <div class="white">
          &lt;!&ndash; @if (isset($message)) &ndash;&gt;
          &lt;!&ndash;<p style="color:red;">{{$message}}</p>&ndash;&gt;
          &lt;!&ndash; @endif &ndash;&gt;
          <h4 class="mrg_btm r_h4">Doctor Registration</h4>
          <form id="form" name="form" enctype="multipart/form-data" (ngSubmit)="register()" novalidate #f="ngForm">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="text" name="name" class="form-control" placeholder="First Name" [(ngModel)]="model.name"
                     #name="ngModel" required>
              <div *ngIf="f.submitted && !name.valid" class="help-block">First Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lname.valid }">
              <input type="text" name="lname" class="form-control" placeholder="Last Name" [(ngModel)]="model.lname"
                     #lname="ngModel" required>
              <div *ngIf="f.submitted && !lname.valid" class="help-block">Last Name is required</div>
            </div>
            <div class="form-group">
              <input type="radio" name="gender" value="male" style="margin: 0;" [(ngModel)]="model.gender"
                     #gender="ngModel" required> Male
              <input type="radio" style="margin: 0 0 0 10px;" name="gender" value="female" [(ngModel)]="model.gender"
                     #gender="ngModel" required> Female
            </div>
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Email Address"
                     [(ngModel)]="model.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                     required>
              <div [hidden]="email.valid || email.pristine"
                   class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Email is required</div>
                <div [hidden]="!email.hasError('pattern')">Email format should be
                  <small><b>joe@abc.com</b></small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" required placeholder="Password"
                     [(ngModel)]="model.password" name="password"
                     #password="ngModel">
              <div [hidden]="password.valid || password.pristine"
                   class="alert alert-danger">
                Password is required
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="confirmPassword" required placeholder="Confirm password"
                     validateEqual="password"
                     [(ngModel)]="model.confirmPassword" name="confirmPassword"
                     #confirmPassword="ngModel">
              <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
                   class="alert alert-danger">
                Passwords did not match
              </div>
            </div>

            <div class="form-group"><p class="mrg_btm2">Upload your photo</p>
              <input type="file" class="inputFile" (change)="selectFile($event)">
              <div class="clearfix"></div>
            </div>
            <input type="hidden" value="{{uploadedfile}}" name="image" [(ngModel)]="model.image" #image="ngModel">

            <div class="form-group ">
              <select class="form-control" #t (change)="function(t.value)" name="country_code"
                      data-bv-field="country_code">
                <option [value]=""> Select Country Code</option>
                <option [value]="+91">India +91</option>
                <option [value]="+1"> +1 United state +1</option>
                <option [value]="+44">+44 United Kingdom</option>
                <option [value]="+971"> +971 United Arab Emirates</option>
                <option [value]="+92">+92 pakistan</option>
                <option [value]="+977"> +977 Nepal</option>
              </select>
            </div>
            <div class="form-group">
              <input type="number" name="mobile" class="form-control"
                     placeholder="Phone Number" pattern="[0-9]*" minlength="10"
                     maxlength="10" [(ngModel)]="model.mobile" #mobile="ngModel" required>
              <div [hidden]="mobile.valid || mobile.pristine"
                   class="alert alert-danger">
                <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
              </div>
            </div>
            <div class="form-group">
              <div (click)="phone_btn_onclick()" class="btn btn-info text-center">Verify mobile number
              </div>
            </div>

            <div class="form-group ">
              <select class="form-control" name="specialty" [(ngModel)]="model.specialty" #specialty="ngModel">
                <option value="">Speciality</option>
                <option value="Acupressurist">Acupressurist</option>
                <option value="Aesthetic Medicine Specialist">Aesthetic Medicine Specialist</option>
                <option value="Allergist/Immunologist">Allergist/Immunologist</option>
                <option value="Alternative Medicine Specialist">Alternative Medicine Specialist</option>
                <option value="Anesthesiologist">Anesthesiologist</option>
                <option value="Audiologist">Audiologist</option>
                <option value="Ayurveda Specialist">Ayurveda Specialist</option>
                <option value="Bariatrician">Bariatrician</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Cosmetic Physician">Cosmetic Physician</option>
                <option value="Cosmetic/Plastic Surgeon">Cosmetic/Plastic Surgeon</option>
                <option value="Dentist">Dentist</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Diabetologist">Diabetologist</option>
                <option value="Dietitian/Nutritionist">Dietitian/Nutritionist</option>
                <option value="Ear-Nose-Throat (ENT) Specialist">Ear-Nose-Throat (ENT) Specialist</option>
                <option value="">Endocrinologist</option>
                <option value="Endocrinologist">Epidemiologist</option>
                <option value="Gastroenterologist">Gastroenterologist</option>
                <option value="General Physician">General Physician</option>
                <option value="General Surgeon">General Surgeon</option>
                <option value="Geneticist">Geneticist</option>
                <option value="Geriatrician">Geriatrician</option>
                <option value="Gynaecologist">Gynaecologist</option>
                <option value="Hematologist">Hematologist</option>
                <option value="Hepatologist">Hepatologist</option>
                <option value="Homeopath">Homeopath</option>
                <option value="IVF Specialist">IVF Specialist</option>
                <option value="Integrated Medicine Specialist">Integrated Medicine Specialist</option>
                <option value="Internal Medicine Specialist">Internal Medicine Specialist</option>
                <option value="Microbiologist">Microbiologist</option>
                <option value="Mother and Child Care">Mother and Child Care</option>
                <option value="Nephrologist">Nephrologist</option>
                <option value="Neurologist">Neurologist</option>
                <option value="Neurosurgeon">Neurosurgeon</option>
                <option value="Non-invasive Cardiologist">Non-invasive Cardiologist</option>
                <option value="Nuclear Medicine Physician">Nuclear Medicine Physician</option>
                <option value="Obstetrician">Obstetrician</option>
                <option value="Occupational Therapist">Occupational Therapist</option>
                <option value="Oncologist">Oncologist</option>
                <option value="Ophthalmologist">Ophthalmologist</option>
                <option value="Optometrist">Optometrist</option>
                <option value="Oral And Maxillofacial Surgeon">Oral And Maxillofacial Surgeon</option>
                <option value="Orthopedist">Orthopedist</option>
                <option value="PMR (Physical Medicine &amp; Rehabilitation) Specialist">PMR (Physical Medicine &amp;
                  Rehabilitation) Specialist
                </option>
                <option value="Pain Management Specialist">Pain Management Specialist</option>
                <option value="Pathologist">Pathologist</option>
                <option value="Pediatric Surgeon">Pediatric Surgeon</option>
                <option value="Pediatrician">Pediatrician</option>
                <option value="Phlebologist">Phlebologist</option>
                <option value="Physiotherapist">Physiotherapist</option>
                <option value="Podiatrist">Podiatrist</option>
                <option value="Proctologist">Proctologist</option>
                <option value="Psychiatrist">Psychiatrist</option>
                <option value="Psychologist">Psychologist</option>
                <option value="Pulmonologist">Pulmonologist</option>
                <option value="Radiologist">Radiologist</option>
                <option value="Rheumatologist">Rheumatologist</option>
                <option value="Robotic Surgeon">Robotic Surgeon</option>
                <option value="Sexologist">Sexologist</option>
                <option value="Siddha Specialist">Siddha Specialist</option>
                <option value="Somnologist">Somnologist</option>
                <option value="Speech Therapist">Speech Therapist</option>
                <option value="Toxicologist">Toxicologist</option>
                <option value="Trichologist">Trichologist</option>
                <option value="Unani Specialist">Unani Specialist</option>
                <option value="Urologist">Urologist</option>
                <option value="Venereologist">Venereologist</option>
                <option value="Veterinarian">Veterinarian</option>
                <option value="other">Other</option>
              </select>
            </div>

            <div class="form-group">
              <input type="number" name="licence_number" [(ngModel)]="model.licence_number" #licence_number="ngModel"
                     class="form-control" placeholder="Medical Registration Number"></div>

            <div class="form-group"><p class="mrg_btm2">Upload Medical Certificate</p>
              <input type="file" class="inputFile" (change)="selectFileM($event)">
              <div class="clearfix"></div>
            </div>
            <input type="hidden" value="{{uploadedfile1}}" [(ngModel)]="model.medical_certificate"
                   name="medical_certificate" #medical_certificate="ngModel">

            <hr>

            <div class="form-group">
              <select class="form-control" name="question1">
                <option value="">Security Question 1</option>
                <option value="">What is the first name of your best friend in high school?</option>
                <option value="">What was the name of your first pet?</option>
                <option value="">What was the first thing you learned to cook?</option>
                <option value="">What was the first film you saw in the theater?</option>
                <option value="">Where did you go the first time you flew on a plane?</option>
                <option value="">What is the last name of your favorite elementary school teacher?</option>
              </select>
            </div>

            <div class="form-group"><input type="text" name="ans1" class="form-control" placeholder="Answer"></div>

            <div class="form-group">
              <select class="form-control" name="question2">
                <option value="">Security Question 2</option>
                <option value="">What is your dream job?</option>
                <option value="">What is your favorite children’s book?</option>
                <option value="">What was the model of your first car?</option>
                <option value="">What was your childhood nickname?</option>
                <option value="">Who was your favorite film star or character in school?</option>
                <option value="">Who was your favorite singer or band in high school?</option>
              </select></div>

            <div class="form-group"><input type="text" name="ans2" class="form-control" placeholder="Answer"></div>

            <div class="form-group">
              <select class="form-control" name="question3">
                <option value="">Security Question 3</option>
                <option value="">In what city did your parents meet?</option>
                <option value="">What was the first name of your first boss?</option>
                <option value="">What is the name of the street where you grew up?</option>
                <option value="">What is the name of the first beach you visited?</option>
                <option value="">What was the first album that you purchased?</option>
                <option value="">What is the name of your favorite sports team?</option>
              </select></div>

            <div class="form-group"><input type="text" name="ans3" class="form-control" placeholder="Answer"></div>

            <p class="mrg_btm text-center">These questions will be used to verify your identity and recover your
              password in case you forget it.</p>

            <hr>

            <div class="form-group">
              <input type="checkbox" name="check" value="1" class="" style="margin: 0;">
              <span>I have read and agree to the
<a href="terms-of-service">Terms of Service</a> and <a href="privacy-policy">Privacy Policy</a></span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">Register</button>
          </form>
        </div>

        <p class="text-center">Already have an account? <a [routerLink]="['/doctor-log-in']">Login</a></p>

      </div>
    </div>

    &lt;!&ndash; <div class="lmodal" style="display: none">
       <div class="lcenter">
         <img alt="loader" src="/loader/loader.svg"/>
       </div>
     </div>&ndash;&gt;

  </section>
</section>-->

<!--<section class="top-header1">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100">
        <img src="https://storage.googleapis.com/web-assets/dpm_doctor.png" height="60"/>
      </div>
      <a [routerLink]="['/doctor-quick-registration']">
        <div class="pull-right logtxt"> Register</div>
      </a>
    </div>
  </div>
</section>
<h3 class="head-login" align="center">Welcome to the world of Digital Patient Management</h3>

<p class="text-center mrg_btm2" align="center" id="b">Digitize your prescription and drive adherence</p>
<p class="text-center mrg_btm2" align="center">Enable Access(Tele/Video/Priority Consults, Ask a Question,
  Appointments)</p>

<div class="contain">
<div fxFlex="50%"  align="center">
<h4 class="mrg_btm r_h4" id="head">Doctor Registration</h4>
<mat-card>
<form id="form" class="example-form" name="form" enctype="multipart/form-data" (ngSubmit)="register()" novalidate
      #f="ngForm">

  <mat-form-field class="example-full-width" >
    <input matInput name="name" class="type-input" placeholder="First Name" [(ngModel)]="model.name"
           #name="ngModel" required>
  </mat-form-field>

  <mat-form-field class="example-full-width" >
    <input matInput name="lname" class="type-input" placeholder="Last Name" [(ngModel)]="model.lname"
           #lname="ngModel" required>
  </mat-form-field>

  <div class="ri">
    <mat-radio-group>
    <mat-radio-button type="radio" name="gender" value="male"  [(ngModel)]="model.gender"
                      #gender="ngModel" required> Male</mat-radio-button>
    <mat-radio-button type="radio"  name="gender" value="female" [(ngModel)]="model.gender"
           #gender="ngModel" required> Female</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field class="example-form">
    <input matInput type="text" name="email" class="type-input" placeholder="Email Address"
           [(ngModel)]="model.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
           required>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      This field is required
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  &lt;!&ndash;<mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" placeholder="Enter email" name="email" [(ngModel)]="model.email" #email="ngModel" >
    <mat-error *ngIf="emailFormControl.hasError('required')">
      This field is required
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>&ndash;&gt;
  <mat-form-field class="example-form">
    <input matInput type="password" class="type-input" id="password" required placeholder="Password"
           [(ngModel)]="model.password" name="password"
           #password="ngModel">
  </mat-form-field>

  <mat-form-field class="example-form">
    <input matInput type="password" class="type-input" id="confirmPassword" required placeholder="Confirm password"
           validateEqual="password"
           [(ngModel)]="model.confirmPassword" name="confirmPassword"
           #confirmPassword="ngModel">
  </mat-form-field>
  <div class="md-form">
<mat-form-field>
<mat-select placeholder="ConsultationType" name="ConsultationType">
<mat-option value="Video Consult">Video Consult</mat-option>
<mat-option value="Tele Consult">Tele Consult</mat-option>
<mat-option value="Priority Consult">Priority Consult</mat-option>
<mat-option value="Appointment">Appointment</mat-option>
<mat-option value="Ask a question">Ask a question</mat-option>
</mat-select>
</mat-form-field>
  </div>
  <div class="form-group"><p class="mrg_btm2">Upload your photo</p>
    <input type="file" class="inputFile" (change)="selectFile($event)">
    <div class="clearfix"></div>
  </div>
  <input type="hidden" value="{{uploadedfile}}" name="image" [(ngModel)]="model.image" #image="ngModel">

  &lt;!&ndash;<mat-form-field >
    <mat-select placeholder="select country">
      <mat-option value=""> Select Country Code</mat-option>
      <mat-option value="+91">India +91</mat-option>
      <mat-option value="+1"> +1 United state +1</mat-option>
      <mat-option value="+44">+44 United Kingdom</mat-option>
      <mat-option value="+971"> +971 United Arab Emirates</mat-option>
      <mat-option value="+92">+92 pakistan</mat-option>
      <mat-option value="+977"> +977 Nepal</mat-option>
    </mat-select>
  </mat-form-field>&ndash;&gt;
  <mat-form-field class="form-group">
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  &lt;!&ndash; <mat-form-field class="example-form">
     <input matInput type="number" name="mobile" class="type-input"
            placeholder="Phone Number" pattern="[0-9]*" minlength="10"
            maxlength="10" [(ngModel)]="model.mobile" #mobile="ngModel" required>
     <div [hidden]="mobile.valid || mobile.pristine"
          class="alert alert-danger">
       <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
       <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
       <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
     </div>
   </mat-form-field>&ndash;&gt;
 &lt;!&ndash; <button mat-raised-button class="login" type="submit">Log In</button>&ndash;&gt;
  <mat-form-field class="form-group">
    <button mat-raised-button (click)="phone_btn_onclick()" class="btn btn-info text-center">Verify mobile number
    </button>
  </mat-form-field>

  &lt;!&ndash;<mat-form-field class="example-class" id="a">
    <select class="type-input" name="specialty" [(ngModel)]="model.specialty" #specialty="ngModel">
      <option value="">Speciality</option>
      <option value="Acupressurist">Acupressurist</option>
      <option value="Aesthetic Medicine Specialist">Aesthetic Medicine Specialist</option>
      <option value="Allergist/Immunologist">Allergist/Immunologist</option>
      <option value="Alternative Medicine Specialist">Alternative Medicine Specialist</option>
      <option value="Anesthesiologist">Anesthesiologist</option>
      <option value="Audiologist">Audiologist</option>
      <option value="Ayurveda Specialist">Ayurveda Specialist</option>
      <option value="Bariatrician">Bariatrician</option>
      <option value="Cardiologist">Cardiologist</option>
      <option value="Cosmetic Physician">Cosmetic Physician</option>
      <option value="Cosmetic/Plastic Surgeon">Cosmetic/Plastic Surgeon</option>
      <option value="Dentist">Dentist</option>
      <option value="Dermatologist">Dermatologist</option>
      <option value="Diabetologist">Diabetologist</option>
      <option value="Dietitian/Nutritionist">Dietitian/Nutritionist</option>
      <option value="Ear-Nose-Throat (ENT) Specialist">Ear-Nose-Throat (ENT) Specialist</option>
      <option value="">Endocrinologist</option>
      <option value="Endocrinologist">Epidemiologist</option>
      <option value="Gastroenterologist">Gastroenterologist</option>
      <option value="General Physician">General Physician</option>
      <option value="General Surgeon">General Surgeon</option>
      <option value="Geneticist">Geneticist</option>
      <option value="Geriatrician">Geriatrician</option>
      <option value="Gynaecologist">Gynaecologist</option>
      <option value="Hematologist">Hematologist</option>
      <option value="Hepatologist">Hepatologist</option>
      <option value="Homeopath">Homeopath</option>
      <option value="IVF Specialist">IVF Specialist</option>
      <option value="Integrated Medicine Specialist">Integrated Medicine Specialist</option>
      <option value="Internal Medicine Specialist">Internal Medicine Specialist</option>
      <option value="Microbiologist">Microbiologist</option>
      <option value="Mother and Child Care">Mother and Child Care</option>
      <option value="Nephrologist">Nephrologist</option>
      <option value="Neurologist">Neurologist</option>
      <option value="Neurosurgeon">Neurosurgeon</option>
      <option value="Non-invasive Cardiologist">Non-invasive Cardiologist</option>
      <option value="Nuclear Medicine Physician">Nuclear Medicine Physician</option>
      <option value="Obstetrician">Obstetrician</option>
      <option value="Occupational Therapist">Occupational Therapist</option>
      <option value="Oncologist">Oncologist</option>
      <option value="Ophthalmologist">Ophthalmologist</option>
      <option value="Optometrist">Optometrist</option>
      <option value="Oral And Maxillofacial Surgeon">Oral And Maxillofacial Surgeon</option>
      <option value="Orthopedist">Orthopedist</option>
      <option value="PMR (Physical Medicine &amp; Rehabilitation) Specialist">PMR (Physical Medicine &amp;
        Rehabilitation) Specialist
      </option>
      <option value="Pain Management Specialist">Pain Management Specialist</option>
      <option value="Pathologist">Pathologist</option>
      <option value="Pediatric Surgeon">Pediatric Surgeon</option>
      <option value="Pediatrician">Pediatrician</option>
      <option value="Phlebologist">Phlebologist</option>
      <option value="Physiotherapist">Physiotherapist</option>
      <option value="Podiatrist">Podiatrist</option>
      <option value="Proctologist">Proctologist</option>
      <option value="Psychiatrist">Psychiatrist</option>
      <option value="Psychologist">Psychologist</option>
      <option value="Pulmonologist">Pulmonologist</option>
      <option value="Radiologist">Radiologist</option>
      <option value="Rheumatologist">Rheumatologist</option>
      <option value="Robotic Surgeon">Robotic Surgeon</option>
      <option value="Sexologist">Sexologist</option>
      <option value="Siddha Specialist">Siddha Specialist</option>
      <option value="Somnologist">Somnologist</option>
      <option value="Speech Therapist">Speech Therapist</option>
      <option value="Toxicologist">Toxicologist</option>
      <option value="Trichologist">Trichologist</option>
      <option value="Unani Specialist">Unani Specialist</option>
      <option value="Urologist">Urologist</option>
      <option value="Venereologist">Venereologist</option>
      <option value="Veterinarian">Veterinarian</option>
      <option value="other">Other</option>
    </select>
  </mat-form-field>

  <mat-form-field class="example-class" id="a">
    <input  type="number" name="licence_number" [(ngModel)]="model.licence_number" #licence_number="ngModel"
            placeholder="Medical Registration Number"></mat-form-field>

  <mat-form-field class="form-group"><p class="mrg_btm2">Upload Medical Certificate</p>
    <input type="file" (change)="selectFileM($event)">&lt;!&ndash;class="inputFile"&ndash;&gt;

  </mat-form-field>
  <input type="hidden" value="{{uploadedfile1}}" [(ngModel)]="model.medical_certificate"
          name="medical_certificate" #medical_certificate="ngModel">


  <mat-form-field class="example-form" id="a">
    <select class="type-input" name="question1">
      <option value="">Security Question 1</option>
      <option value="">What is the first name of your best friend in high school?</option>
      <option value="">What was the name of your first pet?</option>
      <option value="">What was the first thing you learned to cook?</option>
      <option value="">What was the first film you saw in the theater?</option>
      <option value="">Where did you go the first time you flew on a plane?</option>
      <option value="">What is the last name of your favorite elementary school teacher?</option>
    </select>
  </mat-form-field>

  <mat-form-field class="example-form"><input matInput type="text" name="ans1" class="type-input"
                                              placeholder="Answer"></mat-form-field>

  <mat-form-field class="form-group" class="example-form">
    <select class="type-input" name="question2">
      <option value="">Security Question 2</option>
      <option value="">What is your dream job?</option>
      <option value="">What is your favorite children’s book?</option>
      <option value="">What was the model of your first car?</option>
      <option value="">What was your childhood nickname?</option>
      <option value="">Who was your favorite film star or character in school?</option>
      <option value="">Who was your favorite singer or band in high school?</option>
    </select></mat-form-field>

  <mat-form-field class="example-form"><input type="text" name="ans2" class="type-input" placeholder="Answer">
  </mat-form-field>

  <mat-form-field class="example-form">
    <select class="type-input" name="question3">
      <option value="">Security Question 3</option>
      <option value="">In what city did your parents meet?</option>
      <option value="">What was the first name of your first boss?</option>
      <option value="">What is the name of the street where you grew up?</option>
      <option value="">What is the name of the first beach you visited?</option>
      <option value="">What was the first album that you purchased?</option>
      <option value="">What is the name of your favorite sports team?</option>
    </select></mat-form-field>&ndash;&gt;

  <mat-form-field class="example-form"><input type="text" name="ans3" class="type-input" placeholder="Answer"></mat-form-field>

  <p class="mrg_btm text-center">These questions will be used to verify your identity and recover your
    password in case you forget it.</p>


  <mat-form-field class="example-form">
    <input type="checkbox" name="check" value="1" class="" style="margin: 0;">
    <span>I have read and agree to the
<a href="terms-of-service">Terms of Service</a> and <a href="privacy-policy">Privacy Policy</a></span>
  </mat-form-field>
  <button mat-raised-button type="submit" class="btn btn-primary">Register</button>

</form>
</mat-card>
</div>
<p class="text-center" align="center">Already have an account? <a [routerLink]="['/doctor-log-in']">Login</a></p>
</div>
-->















