
#gallery {
  float: left;
  width: 100%;
}

#gallery-header {
  height: 100px;
  width: 100%;
  float: left;
}

#gallery-header-center {
  height: 100px;
  width: 950px;
  margin-right: auto;
  margin-left: auto;
}

#gallery-header-center-left {
  float: left;
  height: 35px;
  line-height: 35px;
  margin-top: 32px;
  margin-left: 10px;
}

#gallery-header-center-left h3 {
  color: #666;
  font-family: 'Open Sans';
  font-size: 24px;
  margin: 0;
}

#gallery-header-center-left-icon {
  float: left;
  height: 35px;
  width: 35px;
  background-color: rgba(63, 141, 191, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 20px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#gallery-header-center-left-icon:hover {
  background-color: rgba(63, 141, 191, 0.5);
  cursor: pointer;
}

#gallery-header-center-left-title {
  float: left;
  height: 35px;
  font-size: 25px;
  color: #3f8dbf;
  margin-left: 20px;
}

#gallery-header-center-right {
  float: right;
  height: 35px;
  margin-top: 32px;
  line-height: 35px;
}

.gallery-header-center-right-links {
  color: #666;
  font-family: 'Open Sans';
  float: left;
  height: 35px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.gallery-header-center-right-links:hover {
  background-color: #0e80f2;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.gallery-header-center-right-links-current {
  color: #FFFFFF;
  background-color: #0e80f2;
}

.gallery-header-center-right-links-current:hover {
  background-color: #0e80f2;
}

#gallery-content {
  float: left;
  width: 100%;
}

.gallery-content-center-normal {
  width: 950px;
  margin-right: auto;
  margin-left: auto;
}

.gallery-content-center-full {
  float: left;
  width: 100%;
  overflow: visible !important;
}

#gallery-content-center img {
  width: 255px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 10px;
}

#gallery-content-center img:hover {

  width: 350px;
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px;
  z-index: 99;

}
