
<!--<div class="content-wrapper">-->
  <!--<section class="clr-back">-->



<!--<div fxLayout="row" fxLayoutAlign="end center" fxShow="false" fxShow.xs="true">-->

<!--</div>-->
<!--<div fxLayout="column" fxShow="false" fxShow.xs="true">-->

<!--<mat-list  class="list-about">-->
<!--<mat-list-item><b>Name:</b><span>{{patients[0]['name']}} {{patients[0]['l_name'] }}</span> </mat-list-item>-->
<!--<mat-list-item><b>Gender:</b><span> {{patients[0]['gender'] }}</span> </mat-list-item>-->
<!--<mat-list-item><b>Date of Birth:</b><span> {{patients[0]['dob'] | amDateFormat: 'DD-MM-YYYY'}}</span> </mat-list-item>-->
<!--<mat-list-item><b>Age:</b><span> {{patients[0]['age']}}</span> </mat-list-item>-->
<!--<mat-list-item><b>Location:</b><span>  {{patients[0]['location']}}</span> </mat-list-item>-->
<!--<mat-list-item><b>Height:</b><span> {{patients[0]['height']}}</span> </mat-list-item>-->
<!--<mat-list-item><b>Weight:</b><span>{{patients[0]['weight']}} </span> </mat-list-item>-->
  <!--<mat-list-item><b>BMI:</b><span>{{patients[0]['bmi'] }} </span> </mat-list-item>-->
<!--</mat-list>-->

<!--</div>-->

  <!--</section>-->

<!--</div>-->



<div fxLayout="row" fxLayout.xs="column" class="marg-top">
  <div fxFlex="20" fxShow.xs="false"></div>
  <div fxFlex="60" class="hooo">
    <h2 class="mrg_btm2" style="text-align: center;">About</h2>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">

        <h3> Name :</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">

        <div class="example-form">
          <h3>{{patients[0]['name']}} {{patients[0]['l_name'] }}</h3>
        </div>

      </div>

    </div>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">
        <h3>Gender :</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">


        <div class="example-form">
          <h3>{{patients[0]['gender'] }}</h3>
        </div>

      </div>

    </div>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">

        <h3>Date of Birth:</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">

        <div class="example-form">
          <h3>{{patients[0]['dob'] | amDateFormat: 'DD-MM-YYYY'}}</h3>
        </div>

      </div>

    </div>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">

        <h3>Age :</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">

        <div class="example-form">
          <h3>{{patients[0]['age']}}</h3>
        </div>

      </div>

    </div>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">

        <h3>Location:</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">
        <div class="example-form">
          <h3>{{patients[0]['location']}}</h3>
        </div>
      </div>

    </div>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">

        <h3>Height:</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">

        <div class="example-form">
          <h3>{{patients[0]['height']}}</h3>
        </div>

      </div>

    </div>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">

        <h3>Weight:</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">

        <div class="example-form">
          <h3>{{patients[0]['weight']}}</h3>
        </div>

      </div>

    </div>
    <div fxLayout="row" style="padding-top: 5%;border-bottom: 1px dotted #ccc;">
      <div fxFlex="40" fxFlex.xs="40">

        <h3>BMI:</h3>

      </div>
      <div fxFlex="60" fxFlex.xs="50">

        <div class="example-form">
          <h3>{{patients[0]['bmi'] }}</h3>
        </div>

      </div>

    </div>


  </div>


</div>

