.conditions{
  font-size:16px;
  font-weight:500;
}
@media (max-width:599px) {
  .clr-back {
    background: #fff;
    padding: 10px 20px;
  }
  .mat-raised-button{
    line-height: 32px;
    padding: 0 12px;
  }
  .list-condition mat-list-item{
    height:34px !important;
    padding:0px !important;
  }
  .content-wrapper {
    background: #ECF0F5;
    height: 100%;
    padding:10px 10px;
  }
  .mat-list {
    padding:0px!important;
  }
}

.list-condition span{
  color:#0c58a5;
  padding-left:20px;
}

.list-condition mat-list-item{
  font-size:14px;
  padding:0px;
}

p{
  padding-bottom: 5%;
}
.border-part{
  border-bottom:1px solid #ccc;
}
