<nav class="navbar navbar-inverse nav_panel">
  <div class="container">
    <div class="mrg2">
      <div class="pull-left"><img src="assets/new-home-page/single/images/Transparent.png" height="50"/></div>
      <!-- <a href="/logout"><div class="pull-right logtxt">Logout</div></a> -->
      <div class="clearfix"></div>
    </div>
  </div>
</nav>

<section class="back2">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <div class=" text-center">
          <h3 class="mrg">You didn't confirmed Dr.{{list[0]['name']}} {{list[0]['lname']}}'s credentials</h3>

        </div>
      </div>

    </div>

  </section>
</section>
