<div>
  <section>
    <h1 class="sub_head" style="text-align: center;">Plan & Billing Details</h1>
  </section>
  <!-- Main content -->
  <section class="content" ngStyle.xs="padding:7px;">

    <div class="box" ngStyle.xs="width:94%;padding:10px;">
      <!--<div class="mrg_btm2"><h3 class="no-margin">Recurring Payment</h3></div>-->

      <!-- <div class="col-md-4 bg-primary">
         <div class="mrg">
           <div class="row">
             <div class="mrg_btm2">
               <div class="col-md-12">
                 <p class="text-uppercase">CREDIT CARD</p>
               </div>
               <div class="col-md-3">
                 <small>****</small>
               </div>
               <div class="col-md-3">
                 <small>****</small>
               </div>
               <div class="col-md-3">
                 <small>****</small>
               </div>
               <div class="col-md-3">
                 <p>8907</p>
               </div>
               <div class="clearfix"></div>
             </div>

             <div class="mrg_btm2">
               <div class="col-md-8">
                 <p class="text-uppercase">EXPIRE DATE</p>
                 <p>10/23</p>
               </div>

               <div class="col-md-4">
                 <p class="text-uppercase">CVV</p>
                 <small>****</small>
               </div>
               <div class="clearfix"></div>
             </div>

             <div class="col-md-8">
               <h4 class="no-margin">AB Example</h4>
             </div>

             <div class="col-md-4">
               <h4 class="no-margin">Visa</h4>
             </div>

           </div>
           <div class="clearfix"></div>
         </div>
       </div>-->

      <!--<div class="col-md-4">
        <p class="text-uppercase">BILLING ADDRESS</p>
        <p>1-50/1 Limra Tower, 3rd Floor
          Old Hafeezpet<br/>
          Hyderabad, Telangana 500049<br/>
          IN</p>
      </div>-->

      <!--<div class="col-md-4 text-right">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Change Billing Info</button>
      </div>-->

      <!--<div class="col-md-12">
        <div id="demo" class="collapse mrg">
          <div class="mrg_btm2"><h3 class="no-margin">Enter Billing Information</h3></div>

          <form class="form-horizontal ng-pristine ng-valid bv-form">
            <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>

            <div class="form-group">
              <label class="col-lg-3 control-label">Name On Credit Card</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" placeholder="Enter Name On Credit Card">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Credit Card</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" placeholder="Enter Credit Card Number">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Expiration</label>
              <div class="col-lg-5">
                <div class="row">
                  <div class="col-lg-6">
                    <select class="form-control" id="country_code" name="country_code" data-bv-field="country_code">
                      <option value="">Month</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <select class="form-control" id="country_code" name="country_code" data-bv-field="country_code">
                      <option value="">Year</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">CVV</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" placeholder="Enter CVV">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Address</label>
              <div class="col-md-5">
                <textarea class="form-control" type="text" name="pad" placeholder="Enter Address"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Address Line 2</label>
              <div class="col-md-5">
                <textarea class="form-control" type="text" name="pad" placeholder="Enter Address"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label"></label>
              <div class="col-lg-5">
                <div class="row">
                  <div class="col-lg-6">
                    <select class="form-control" id="country_code" name="country_code" data-bv-field="country_code">
                      <option value=""> Select Country</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <select class="form-control" id="country_code" name="country_code" data-bv-field="country_code">
                      <option value=""> Select State</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label"></label>
              <div class="col-lg-5">
                <div class="row">
                  <div class="col-lg-6">
                    <select class="form-control" id="country_code" name="country_code" data-bv-field="country_code">
                      <option value=""> Select City</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" placeholder="Pincode">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <button type="submit" id="saveBtn" class="btn btn-primary" name="signup" value="Sign up">Submit</button>

              </div>
            </div>

          </form>

        </div>
      </div>-->

      <!--<div class="clearfix"></div>
      <hr>
-->
      <div fxLayout="row">
        <div fxFlex="40">
          <p style="text-transform: uppercase">Plan</p>
          <p>{{ user['subscription'][0]['SUBSCRIPTION_PLAN'] }}</p>
        </div>

        <div fxFlex="40">
          <p style="text-transform: uppercase">Price</p>
          <p>Rs.{{ user['subscription'][0]['SUBSCRIPTION_AMOUNT']}}.00/Month</p>
        </div>

        <div fxFlex="100" style="float:right;text-align:right">

          <button mat-raised-button class="details_b" (click)="upgrade()" style="background-color:#3c8dbc;">Change Plan
          </button>
        </div>
      </div>

      <!--<div class="modal fade" id="myModal2" role="dialog">-->
      <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
      <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      <!--<h4 class="modal-title">Upgrade plan</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
      <!--<p class="mrg_btm2">Please upgrade your plan to enable digital prescription, data dashboard, online-->
      <!--appointments, video consult, tele consult, priority consult</p>-->
      <!--<a href="/dashboard/pricing">-->
      <!--<button id="pay_fee_monthly" type="button" class="btn btn-primary mrg_btm">-->
      <!--Click to pay monthly-->
      <!--</button>-->
      <!--</a>-->
      <!--<a href="/dashboard/automatic-pricing?page=renewal">-->
      <!--<button id="pay_fee_anually" type="button" class="btn btn-primary mrg_btm">-->
      <!--Click to pay automatically-->
      <!--</button>-->
      <!--</a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->


    </div>

    <div class="box clearfix mrg_btm2" ngStyle.xs="width:94%;padding:10px;">

      <div class="row" id="paginate">
        <ng-template ngFor let-item [ngForOf]="Range(invoice_list.length)" let-currentIndex="index"
                     *ngIf="invoice_list.length>0">

          <div fxFlex="100">
            <div class="mrg_btm2 vdo_inr_line">
              <div>

                <div class="">
                  <div class="pres_patint">
                    <span>{{ invoice_list[currentIndex]['key'] }} </span>
                    <!-- <span>2017</span> -->
                  </div>
                </div>
              </div>

              <section [fxShow.md]="false" [fxShow.lg]="false" [fxShow.xl]="false">
                <div class="hospital_pan">
                  <div *ngFor="let med of invoice_list[currentIndex]['values']; let i=index">
                    <h2><strong>Invoice {{i+1}}: </strong></h2>
                    <ul class="prescrip_ul">
                      <li style="list-style-type: disc; margin: 0 17px 8px !important;">
                        <!--<div *ngIf="med['payment_type'] == 'Registration/Renewal'">-->

                        <span
                          *ngIf="med['payment_type'] == 'Registration/Renewal'">
  {{med['payment_type']}}
</span>

                        <span
                          *ngIf="med['payment_type'] == 'Registration/Renewal'">
  {{med['TXNDATE'] | amDateFormat: 'MM-DD-YYYY'}}
</span>
                        <span
                          *ngIf="med['payment_type'] == 'Registration/Renewal'">
  Rs.{{med['TXNAMOUNT']}}.00 <br>
</span>

                        <span
                          *ngIf="med['payment_type'] == 'Registration/Renewal'" style="margin:5px;">
  <a
    [routerLink]="['/dashboard/invoice/view/'+med['BANKTXNID']]" style="text-decoration:none;"><i
    class="fa fa-eye" aria-hidden="true"></i>View</a></span>
                        <span
                          *ngIf="med['payment_type'] == 'Registration/Renewal'" style="margin:5px;">
  <a href="invoice/print/{{med['BANKTXNID']}}" style="text-decoration: none;"><i
    class="fa fa-print" aria-hidden="true"></i>Print</a></span>

                        <!--<div *ngIf="med['payment_type'] == 'Consultation'">-->

                        <span *ngIf="med['payment_type'] == 'Consultation'">{{
  med['payment_type'] }}
</span>
                        <span *ngIf="med['payment_type'] == 'Consultation'">{{
  med['TXNDATE'] | amDateFormat: 'MM-DD-YYYY'}}
</span>
                        <span *ngIf="med['payment_type'] == 'Consultation'">
  Rs.{{ med['TXNAMOUNT']}}.00 <br>
</span>
                        <span *ngIf="med['payment_type'] == 'Consultation'" style="margin:5px;"><a
                          [routerLink]="['/dashboard/consultation/invoice/view/'+med['booking_id']+'/'+med['BANKTXNID']+'/'+med['TXNDATE']]" style="text-decoration:none;"><i
                          class="fa fa-eye" aria-hidden="true"></i>View</a></span>
                        <span *ngIf="med['payment_type'] == 'Consultation'" style="margin:5px;"><a
                          href="consultation/invoice/print/{{med['booking_id']}}/{{med['BANKTXNID']}}/{{med['TXNDATE']}}" style="text-decoration:none;"><i
                          class="fa fa-print" aria-hidden="true"></i>Print</a></span>
                      </li>
                    </ul>

                  </div>
                </div>
              </section>


              <section [fxShow.sm]="false" [fxShow.xs]="false" [fxShow.md]="true" [fxShow.lg]="true">
                <div fxFlex="100">
                  <table>
                    <thead>
                    <tr>
                      <th>Invoice No.</th>
                      <th>Invoice Type</th>
                      <!-- <th>Payment To/From</th> -->
                      <th>Date</th>
                      <th>Amount</th>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <ng-template ngFor let-item [ngForOf]="createRange(invoice_list[currentIndex]['values'].length)"
                                 let-innerIndex="index" *ngIf="invoice_list.length>0">

                      <tr>
                        <td>{{invoice_list[currentIndex]['values'][innerIndex]['BANKTXNID']}}</td>
                        <!--<div *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Registration/Renewal'">-->

                        <td
                          *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Registration/Renewal'">
                          {{invoice_list[currentIndex]['values'][innerIndex]['payment_type']}}
                        </td>

                        <td
                          *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Registration/Renewal'">
                          {{invoice_list[currentIndex]['values'][innerIndex]['TXNDATE'] | amDateFormat:'DD-MM-YYYY'}}
                        </td>
                        <td
                          *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Registration/Renewal'">
                          Rs.{{invoice_list[currentIndex]['values'][innerIndex]['TXNAMOUNT']}}.00
                        </td>
                        <td
                          *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Registration/Renewal'">
                          <a
                            [routerLink]="['/dashboard/invoice/view/'+invoice_list[currentIndex]['values'][innerIndex]['BANKTXNID']]" style="text-decoration:none;"><i
                            class="fa fa-eye" aria-hidden="true"></i>View</a></td>
                        <td
                          *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Registration/Renewal'">
                          <a href="invoice/print/{{invoice_list[currentIndex]['values'][innerIndex]['BANKTXNID']}}" style="text-decoration:none;"><i
                            class="fa fa-print" aria-hidden="true"></i>Print</a></td>

                        <!--<div *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Consultation'">-->

                        <td *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Consultation'">{{
                          invoice_list[currentIndex]['values'][innerIndex]['payment_type'] }}
                        </td>
                        <td *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Consultation'">{{
                          invoice_list[currentIndex]['values'][innerIndex]['TXNDATE'] | amDateFormat:'DD-MM-YYYY'}}
                        </td>
                        <td *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Consultation'">
                          Rs.{{ invoice_list[currentIndex]['values'][innerIndex]['TXNAMOUNT']}}.00
                        </td>
                        <td *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Consultation'">

                          <a  style="text-decoration:none;font-size:14px;"
                              [routerLink]="['/dashboard/consultation/invoice/view/'+invoice_list[currentIndex]['values'][innerIndex]['booking_id']+'/'+invoice_list[currentIndex]['values'][innerIndex]['BANKTXNID']+'/'+invoice_list[currentIndex]['values'][innerIndex]['TXNDATE']]">
                            <i class="fa fa-eye" aria-hidden="true"></i> View
                          </a>

                        </td>
                        <td *ngIf="invoice_list[currentIndex]['values'][innerIndex]['payment_type'] == 'Consultation'">

                          <a  style="text-decoration:none;"
                              href="consultation/invoice/print/{{invoice_list[currentIndex]['values'][innerIndex]['booking_id']}}/{{invoice_list[currentIndex]['values'][innerIndex]['BANKTXNID']}}/{{invoice_list[currentIndex]['values'][innerIndex]['TXNDATE']}}">
                            <i class="fa fa-print" aria-hidden="true"></i> Print
                          </a>
                        </td>


                      </tr>
                    </ng-template>
                    </tbody>

                  </table>
                </div>
              </section>
            </div>

          </div>

        </ng-template>
      </div>

    </div>
  </section>
  <!-- /.content -->
</div><!-- /.content-wrapper -->

