@import "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:400,500,700";

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.limit_one_line, .inner_hd1 h1, .inner_hd1 h2, .list1 li {
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back1 {
  background: #000;
  padding: 20px 0;
}

.hd1 {
  font-size: 34px;
  color: #fff;
  padding: 0 0 14px 0;
}

.base_imge {
  position: relative;
}

.inner_hd1 {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 8px 10px;
}

.inner_hd1 h1 {
  color: #fff;
  padding: 0 0 2px 0;
  font-size: 20px;
}

.inner_hd1 h2 {
  color: #fff;
  font-size: 14px;
}

.hd2 {
  font-size: 20px;
  color: #fff;
  background: #333;
  padding: 6px 8px;
  font-weight: 700;
}

.vid_hd2 {
  font-size: 16px;
  color: #fff;
  background: #e5002d;
  padding: 8px 14px;
  font-weight: 700;
}

.border_botm, .list1 li, .hd3, .back2 .hd3, .back2 .list1 li {
  border-bottom: 1px solid #362426;
}

.list1 li {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 14px;
  padding: 6px 8px;
}

.list1 li:last-child {
  border-bottom: none;
}

.hd3 {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 8px;
  font-size: 20px;
}

.mrg {
  margin: 18px 0;
}

.back2 {
  padding: 20px 0;
}

.back2 .hd1 {
  color: #333;
}

.back2 .hd1_main {
  color: #666;
  padding: 0 0 5px 0;
}

.back2 .hd2 {
  background: #f1f1f1;
  color: #333;
}

.back2 .hd3 {
  background: #fff;
  color: #666;
  border-color: #ccc;
}

.back2 .inner_hd1 {
  background: rgba(255, 255, 255, 0.8);
}

.back2 .inner_hd1 h1 {
  color: #333;
}

.back2 .inner_hd1 h2 {
  color: #337392;
}

.back2 .list1 li {
  background: #fff;
  color: #666;
  border-color: #ccc;
}

.pdg1 {
  padding: 5px 20px;
}

.pdg_left {
  padding: 5px 20px 5px 0;
}

.pdg_rt {
  padding: 5px 30px 5px 0;
}

.hd4 {
  font-size: 20px;
  padding: 5px 0;
  font-weight: 500;
}

.hd5 {
  font-size: 14px;
  padding: 5px 0;
  font-weight: 500;
}

.panel_light_grey {
  background: #f1f1f1;
}

.panel_thin_grey {
  background: #484f53;
}

.panel_dark_grey {
  background: #0c0c0c;
}

.panel_thick_grey {
  background: #75757a;
}

.panel_red {
  background: #d9534f;
}

.panel_blue {
  background: #337392;
}

.brder_top, .border_yellow, .border_orange {
  border-top: 1px solid #4bc6df;
}

.border_yellow {
  border-color: #f7cc03;
}

.border_orange {
  border-color: #e27520;
}

.border_dot {
  border-top: 1px dotted #888;
  width: 75px;
  padding: 0 20px;
  margin: 5px 0 0 0;
}

.panel_one {
  height: 296px;
}

.panel_one_one {
  height: 294px;
}

.panel_two {
  height: 87px;
}

.panel_three {
  height: 88px;
}

.panel_four {
  height: 398px;
}

.panel_five {
  height: 190px;
}

.panel_six {
  height: 445px;
}

.panel_seven {
  height: 255px;
}

.panel_eight {
  height: 216px;
}

.mrg_btm {
  margin: 0 0 15px 0;
}

.color_white {
  color: #fff !important;
}

.color_yellow {
  color: #f7cc03;
}

.color_blue {
  color: #337392;
}

.dark_blue {
  color: #f1f1f1;
}

.color_orange {
  color: #e27520;
}

.color_red_dark {
  color: #e5002d;
}

.dark_grey {
  color: #333;
}

.back3 {
  padding: 20px 0;
  background: #0c0c0c;
}

.back4 {
  padding: 20px 0;
  background: #f1f1f1;
}

.back_panel1 {
  padding: 10px;
  border: 2px solid #f4f4f4;
}

.back_panel2 {
  padding: 10px;
  background: #f6f6f6;
  border: 2px solid #f1f1f1;
}

.main_heading, .main_heading2 {
  font-size: 30px;
  color: #333;
  position: relative;
  overflow: hidden;
  font-weight: 500;
}

.hdg_line, .hdg_line2 {
  border-bottom: 3px solid #ccc;
  border-top: 3px solid #ccc;
  height: 7px;
  position: absolute;
  width: 100%;
  margin: 20px;
}

.main_heading2 {
  color: #fff;
}

.hdg_line2 {
  border-color: #d9534f;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.modal_home_popup {
  padding-bottom: 0 !important;
  border: none !important;
}

.modal_body_popup {
  padding: 20px 40px !important;
}

.btn_full {
  width: 100%;
}

/*--------------------Header-----------------*/
.top_line {
  border-top: 2px solid #d9534f;
}

.pre_alpha {
  color: #d9534f;
  font-size: 12px;
}

.insight_frm {
  font-size: 24px;
  font-weight: 500;
  color: #0c0c0c;
  padding: 30px 0;
  margin: 0 30px;
  text-transform: uppercase;
}

.nne {
  margin: -48px 0 0;
}

.insights_w {
  display: block;
}

.insights_m {
  display: none;
}

.nav_panel {
  min-height: 35px;
  background: #0c58a5;
  border: none;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.nav_panel .navbar-nav > li > a {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav_panel .navbar-nav > li > a:hover, .nav_panel .navbar-nav > li > a:focus, .nav_panel .navbar-nav > .active > a, .nav_panel .navbar-nav > .active > a:hover, .nav_panel .navbar-nav > .active > a:focus, .nav_panel .navbar-nav > .open > a, .nav_panel .navbar-nav > .open > a:focus, .nav_panel .navbar-nav > .open > a:hover {
  background-color: #0e61b3;
  color: #fff;
}

.nav_panel .navbar-collapse {
  padding: 0;
}

.nav_panel .navbar-nav {
  margin: 0;
}

.nav_panel .navbar-toggle {
  border-color: #fff;
}

.nav_panel .navbar-toggle .icon-bar {
  background: #fff;
}

.nav_panel .navbar-toggle:hover, .nav_panel .navbar-toggle:focus {
  background: #0e61b3;
}

/*------------------Footer------------------*/
footer {
  border-top: 2px solid #d9534f;
  padding: 20px 0;
}

footer h1 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0 0 10px 0;
}

footer ul li {
  font-size: 14px;
  color: #666;
  margin: 0 0 5px 0;
}

footer ul li a {
  color: #666;
}

footer ul li a:hover {
  color: #333;
}

footer p {
  margin: 0 0 10px 0;
}

.post_footer {
  color: #fff;
}

.post_footer li {
  float: left;
  color: #fff;
  margin: 0 20px 0 0;
}

.post_footer li a {
  color: #fff;
}

.post_footer li a:hover {
  color: #ccc;
}

.post_footer_pdg {
  padding: 10px 0;
}

/*------------Single Video----------------*/
.video_hd1 {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: 300;
  color: #333;
  margin: 20px 0 0;
}

.video_hd2 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #666;
  margin: 10px 0 0;
}

.video_hd3 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #e5002d;
  margin: 10px 0 0;
}

.full_vid {
  background: #000;
  padding: 10px 0;
  width: 100%;
}

.vid_img {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}

.vid_content {
  position: absolute;
  top: 76px;
  right: 60px;
}

.icon_pan {
  text-align: center;
  margin: 20px 0;
  opacity: 0.7;
  cursor: pointer;
}

.icon_pan:hover {
  opacity: 10;
}

.icon_nm {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  margin: 5px 0 0;
  opacity: 0.7;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.vid_icon {
  background-image: url(../images/vid_icons.png);
  height: 40px;
  width: 44px;
  margin: 0 auto;
}

.vid_icon1 {
  background-position: 0 0;
}

.vid_icon2 {
  background-position: -42px 0;
}

.vid_icon3 {
  background-position: -84px 0;
}

.share_vid {
  color: #333;
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.share_vid span {
  color: #e5002d;
}

.scicn_pan {
  margin: 0 10px 0 0;
}

.scicn {
  float: left;
  width: 54px;
  text-align: center;
}

.scicn a .fs2 {
  padding: 10px;
  margin: 0 0 4px 0;
  color: #fff;
  font-size: 20px;
  color: #fff;
  width: 46px;
  height: 46px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.scicn a .fs2:hover {
  background: #666;
}

.fb {
  background: #3b5998;
}

.twi {
  background: #55acee;
}

.linken {
  background: #007bb6;
}

.gplus {
  background: #dd4b39;
}

.ytube {
  background: #cc1318;
}

.scicn p {
  margin: 0;
  color: #666;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
}

.doc_nm, .icon_hd {
  font-size: 20px;
  font-weight: 500;
  color: #0c58a5;
  margin: 0 0 5px 0;
}

.vid_p {
  font-size: 18px;
  font-weight: 300;
}

.para {
  line-height: 1.7;
  margin: 20px 0 0;
}

.red_link {
  color: #e5002d;
}

.red_link:hover {
  color: #e5002d;
  text-decoration: underline;
}

.transcript_panel {
  color: #333;
  font-size: 20px;
  background: #F7F7F7;
  padding: 20px 20px 10px 20px;
  outline: 1px solid #eee;
  border: 2px solid #fff;
  font-weight: 500;
}

.transcript_body {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 10px 0;
  text-align: left;
}

.transcript_body span {
  font-weight: 500;
  color: #333;
}

.transcript_body p {
  line-height: 1.8;
}

.similar_topics_label {
  float: left;
  display: block;
  color: #666;
  font-weight: 500;
  padding: 5px 12px;
  margin: 3px;
}

.tags li a {
  float: left;
  display: block;
  color: #666;
  background: #f1f1f1;
  font-weight: 500;
  padding: 5px 12px;
  margin: 3px;
  border: 1px solid #dbdbdb;
}

.tags li a:hover {
  color: #d9534f;
  border: 1px solid #d9534f;
}

.vws_pan {
  float: left;
  margin: 0 0 0 20px;
}

.vws_no {
  color: #333;
  display: block;
  float: left;
  font-size: 34px;
  font-weight: 700;
  margin: 14px 10px 0;
}

.vws_txt_pan {
  float: left;
  padding: 10px 0 0 0;
}

.vws_txt {
  display: block;
  line-height: 16px;
}

.vws_pan a {
  color: #666;
}

.add_txt {
  float: right;
  padding: 10px 0 0 0;
}

.add_txt p {
  float: left;
  margin: 0 20px 0 0;
  font-style: italic;
  text-align: right;
}

.mrg_top_vid {
  margin: 7px 0 8px 0;
}

#info + [data-readmore-toggle], .rd[data-readmore] {
  font-size: 14px;
  line-height: 1.7;
  fon-weight: 400;
  text-align: right;
}

.border_left {
  border-left: 1px solid #eee;
}

.vid_side_box {
  padding: 0 10px;
}

.vid_side_box_inner {
  padding: 0 0 10px 0;
  margin: 10px 0 0;
  border-bottom: 1px solid #eee;
}

.vid_side_box p span {
  color: #e27520;
}

.vid_close {
  background: url(../images/close.png);
  opacity: 0.6;
  height: 32px;
  width: 32px;
  position: absolute;
  right: -16px;
  top: -16px;
}

.vid_close:hover {
  opacity: 1;
}

.modal-header {
  padding: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
}

.vid_modal_dialog {
  width: 400px;
}

.home_modal_dialog_box_signup {
  width: 1000px;
}

.home_modal_title {
  font-size: 20px;
}

.close_home_popup {
  position: absolute;
  top: 6px;
  right: 10px;
}

.pdg_l_five {
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.ratio-4-3 {
  width: 100%;
  position: relative;
  background: url() 50% 50% no-repeat;
  background-size: cover;
  background-clip: content-box;
}

.ratio-4-3:before {
  display: block;
  content: "";
  padding-top: 56%;
}

.vid_box_panel {
  margin: 0 0 20px 0;
  border: 1px solid #eee;
}

.vid_box_panel_hd {
  background: #f1f1f1;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  padding: 10px 20px;
}

.vid_box_panel_body {
  padding: 20px;
}

.other_stories {
  float: left;
  width: 300px;
  margin: 0 20px 0 0;
}

.other_stories_h1 {
  font-size: 20px;
  color: #333;
  padding: 10px 0;
}

.other_stories_list li {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.other_stories_list2 li {
  border-bottom: 1px solid #eee;
  border-top: none;
}

.reltd::before {
  border-top: 1px solid #eee;
  bottom: 100%;
  content: "";
  display: block;
  height: 1px;
  margin: 0 0 5px 0;
  position: absolute;
  width: 80px;
}

.reltd {
  font-size: 14px;
  color: #666;
  position: relative;
  margin: 20px 0 0;
}

.fw_six {
  font-weight: 600;
}

.rounded_icons {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #e5002d;
  color: #fff;
  font-weight: 700;
  float: left;
  text-align: center;
  margin: 0 20px 0 0;
  padding: 14px 0;
}

.float_left {
  float: left;
  width: 88%;
}

/*-------Tag----------*/
.mrg_top {
  margin: 20px 0 0;
}

.tag_hd1 {
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0;
}

.tag_hd2 {
  font-size: 20px;
  margin: 10px 0;
}

.tag_hd3 {
  font-size: 14px;
  margin: 8px 0;
}

.dpm_icon_panel {
  margin: 0 auto;
  height: 120px;
  width: 120px;
}

.dpm_icon {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.dpm_icon .fa {
  color: #fff;
  display: inline-block;
  position: relative;
}

.dr_icon {
  background: #0c58a5;
}

.dr_icon .fa {
  font-size: 80px;
  top: 20px;
}

.provdr_icon .fa {
  font-size: 90px;
}

.vdivider {
  height: 100%;
  border-right: 1px solid #e5e5e5;
}

.icon_hd {
  font-size: 24px;
  margin: 15px 0 10px;
}

/*--------------registration----------------*/
.mrg2 {
  margin: 10px 0;
}

.mrg_btm2 {
  margin: 0 0 5px 0;
}

.logtxt {
  color: #fff;
  margin: 14px 0;
  font-size: 16px;
  font-weight: 500;
}

.back5 {
  background: #eee;
}

.white {
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 0px 4px #bbb;
  margin: 15px 0;
}

.em_alert_pan {
  background: #333;
  border-color: #000;
  color: #fff;
  padding: 15px;
}

.em_alert_pan p {
  margin: 0 !important;
}

.regis_hd2 {
  font-size: 24px;
  color: #fff;
  padding: 20px;
  background: #0c58a5;
}

.pdg_no {
  padding: 0;
}

.res_close {
  margin: -15px -15px 0 0 !important;
}

.mrg_no {
  margin: 0 !important;
}

.reg_list ul li {
  margin: 0;
  padding: 0 0 0 30px;
  background: url(../images/right_icon.png) 0 9px no-repeat;
  line-height: 30px;
}

.btn a {
  color: #fff;
}

.reg_rt_pan {
  border: 1px solid #dbdbdb;
}

.reg_rt_pan_inner {
  padding: 20px;
}

.next {
  float: right;
}

.next2 {
  float: none;
}

.left {
  float: left;
}

.reg_pic img {
  border: 1px solid #dbdbdb;
}

.pdg_btm {
  padding: 0 0 5px 0;
}

.r_h4 {
  font-weight: 400;
}

/*---------------CME---------------------*/
.cme_left_img {
  float: left;
  width: 70px;
  margin: 0 10px 0 0;
}

.cme_left_img::before {
  padding-top: 100% !important;
}

.cme_left_hdg {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.cme_left_box a > .cme_left_hdg {
  color: #666;
}

.blog_author {
  font-size: 16px;
  line-height: 26px;
  color: #888;
}

.blog_author a > .cme_left_hdg {
  color: #888;
}

.cme_left_box a:hover > .cme_left_hdg, .cme_left_box a.blog_active > .cme_left_hdg {
  color: #0c58a5;
}

.cme_left_box a:hover > .blog_author, .cme_left_box a.blog_active > .blog_author {
  color: #0e61b3;
}

.blog_single img {
  z-index: -99;
  float: left;
}

.blog_single img:hover {
  opacity: 1;
}

.blog_author_img {
  float: left;
}

.blog_author_img img {
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  margin: -20px 20px 0 0;
}

.blog_single {
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.blog_author_h1 {
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #333;
  margin: 10px 0 0 0;
}

.blog_author_h2 {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #777;
  margin: 0 0 10px 0;
}

.blog_single_h1 {
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #333;
  margin: 20px 0 10px 0;
}

.blog_single_p {
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  font-weight: 400;
  color: #666;
  margin: 0;
}

.blog_h1:hover {
  color: #333;
}

.vdo_inr_line {
  border-bottom: 1px solid #eee;
}

.cme_left_box {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/*-----------------nine box------------------*/
.nine_box_hd {
  font-size: 20px;
  color: #0c58a5;
  margin: 10px 0;
}

.nine_box_p {
  font-size: 14px;
  color: #333;
}

/*-----------------book appointment--------------*/
.para2 {
  line-height: 1.7;
  margin: 0 0 5px 0;
}

.bk_ap_nav_tab li {
  font-size: 18px;
}

/*------------single image------------------*/
.color_blue_nav {
  color: #0c58a5 !important;
}

.color_dark_grey {
  color: #333 !important;
}

.pinte {
  background: #ce202e;
}

/*------------buzz------------------*/
.tips_img {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #dbdbdb;
  padding: 10px;
}

/*-------------presentation----------------*/
.galleria-theme-classic .galleria-stage {
  top: 0;
}

#galleria {
  height: 500px;
  margin-bottom: 20px;
}

.galleria-theme-classic img {
  width: 80% !important;
}

.galleria-theme-classic .galleria-counter {
  font-size: 14px;
}

.content_presentation {
  height: 500px;
}

/*------------------specials-------------*/
.pd-place-outer {
  padding: 0;
  color: #FFF;
  font-size: 22px;
  text-align: left;
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin: 0;
  height: auto !important;
  word-wrap: break-word;
  width: 100% !important;
  background: url(https://dge26x4s8ljhx.cloudfront.net/assets/title-bg-dca6ab9f93ac1d1b7c9df9ef92ef624b.png) repeat-x bottom;
  text-shadow: 1px 1px 1px #000;
  height: 200px !important;
}

.TN-item {
  width: 100%;
  height: 235px;
  position: relative;
  cursor: default;
  margin: 0px 0 35px 0;
  background-position: 50% 85%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  float: left;
  cursor: pointer;
  background-repeat: no-repeat;
}

.TN-item:hover {
  background-position: 85% 85% !important;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.pd-place-mouter {
  width: 100%;
  height: 100%;
}

.TN-item:hover .pd-place-mouter {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.TN-item:hover .pd-place-outer p {
  font-size: 14px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 0px;
}

.PD-item {
  width: 100%;
  height: 505px !important;
  position: relative;
  cursor: default;
  margin: 0px 0 35px 0;
  background-position: 50% 85%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  float: left;
  cursor: pointer;
  background-repeat: no-repeat;
}

.midle_pan {
  background: #21839e;
  /*background: -moz-linear-gradient(top, rgba(33,131,158,1) 0%, rgba(51,172,206,1) 55%, rgba(33,131,158,1) 100%);
 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,131,158,1)), color-stop(55%, rgba(51,172,206,1)), color-stop(100%, rgba(33,131,158,1)));
 background: -webkit-linear-gradient(top, rgba(33,131,158,1) 0%, rgba(51,172,206,1) 55%, rgba(33,131,158,1) 100%);
 background: -o-linear-gradient(top, rgba(33,131,158,1) 0%, rgba(51,172,206,1) 55%, rgba(33,131,158,1) 100%);
 background: -ms-linear-gradient(top, rgba(33,131,158,1) 0%, rgba(51,172,206,1) 55%, rgba(33,131,158,1) 100%);
 background: linear-gradient(to bottom, rgba(33,131,158,1) 0%, rgba(51,172,206,1) 55%, rgba(33,131,158,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21839e', endColorstr='#21839e', GradientType=0 );*/
  text-align: center;
}

/*------------event images-------------*/
.banner {
  left: -70px;
  position: absolute;
  top: 16px;
}

.banner > .scicn {
  float: none;
}

.banner > .scicn > a > .fs2 {
  border-color: #000;
}

.banner_l_pan {
  position: relative;
}

/*--------------revolution_talk-----------*/
.collage_revolution {
  position: relative;
}

.collage_revolution img {
  width: 100%;
  text-align: center;
}

.revo_p {
  padding: 0 0 0 175px;
  margin-top: -25px;
}

.rev_doc_nm {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.doctor_revo {
  background: #f9f9f9;
  padding: 40px 80px 40px 40px;
  position: relative;
  width: 80%;
}

.doctor_revo p {
  font-size: 16px;
  color: #666;
  line-height: 30px;
  font-weight: 400;
}

.doctor_names_rt {
  position: absolute;
  right: -260px;
  top: 100px;
  background: #f9f9f9;
  padding: 20px 40px;
  text-align: center;
}

.doctor_names_rt h1 {
  color: #cc1318;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px 0 10px 0;
}

.doctor_names_rt ul li, .doctor_names_rt2 ul li {
  line-height: 30px;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.doctor_names_rt ul li a, .doctor_names_rt2 ul li a {
  color: #333;
}

.doctor_names_rt ul li a:hover, .doctor_names_rt2 ul li a:hover {
  color: #cc1318;
}

.rt_line {
  width: 100px;
  margin: 20px auto;
  height: 2px;
  background: #666;
}

.rev_icon {
  border: 10px solid #cc1318;
}

.doctor_names_rt2 {
  background: #f9f9f9 none repeat scroll 0 0;
  padding: 20px 40px;
  text-align: center;
}

.doctor_names_rt2 h1 {
  color: #cc1318;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px 0 10px;
}

.mrquee_pan {
  color: #0e61b3;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
}

/*------ live update tab css start ------*/
.etabs {
  margin: 0;
  padding: 0;
}

.tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #0e61b3;
}

.tab a {
  font-size: 16px;
  line-height: 2em;
  display: block;
  padding: 5px 20px;
  outline: none;
  color: #fff;
}

.tab a:hover {
  text-decoration: underline;
  color: #333;
  background: #f1f1f1;
}

.tab.active {
  background: #f1f1f1;
  padding: 6px 0 0;
  position: relative;
  top: 1px;
  color: #333;
}

.tab a.active {
  font-weight: 500;
  color: #333;
}

.tab-container .panel-container {
  background: #f1f1f1;
  padding: 10px;
}

.panel-container {
  margin: 0 0 10px 0;
}

.feeds h4 {
  font-size: 24px;
  margin: 10px 0 0;
}

.feeds p {
  padding-right: 40px !important;
}

.feeds li {
  background: #fbfcfd;
  padding: 10px !important;
  margin: 5px 0 0;
  color: #666;
}

/*--------------signup calender------------*/
.form-horizontal2 {
  width: 100%;
}

.form-search input, .form-inline input, .form-horizontal2 input, .form-search textarea, .form-inline textarea, .form-horizontal2 textarea, .form-search select, .form-inline select, .form-horizontal2 select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal2 .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal2 .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal2 .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal2 .input-append {
  display: inline-block;
  display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
  position: relative;
}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
  border-radius: 0 4px 4px 0;
}

.icon-calendar {
  background-position: -192px -120px;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 14px;
  vertical-align: text-top;
  width: 14px;
}

.input-append, .input-prepend {
  display: inline-block;
  font-size: 0;
  margin-bottom: 10px;
  vertical-align: middle;
  white-space: nowrap;
}

input-append input, .input-append select, .input-append .uneditable-input {
  border-radius: 4px 0 0 4px;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
  border-radius: 4px 0 0 4px;
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover {
  font-size: 14px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

label, input, button, select, textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  position: absolute;
}

.input-append .add-on, .input-append .btn, .input-append .btn-group {
  margin-left: -1px;
}

.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
  border-radius: 0;
  vertical-align: top;
  position: absolute;
  right: 0;
}

.input-append .add-on, .input-prepend .add-on {
  background-color: #eeeeee;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  width: auto;
}

.input-append, .input-prepend {
  font-size: 0;
  white-space: nowrap;
  width: 90%;
}

/*live*/
.live_back {
  background: #344152;
}

.live_left_hdg {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.live_left_hdg2 {
  font-size: 16px;
  line-height: 26px;
  color: #6bdaea;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.live_left_box {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.live_left_box:hover, .live_active > .live_left_box {
  background-color: #111;
}

.live_now {
  background: #cc1318;
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: 500;
  margin: 0 10px 0 0;
  padding: 20px 50px;
  text-transform: uppercase;
}

.live_now a {
  color: #fff;
}

.back_live_footer {
  border-top: 1px solid #111;
}

.float_none {
  float: none;
}

p {
  text-align: justify;
}

.main_heading3 {
  font-size: 24px;
}

.hdg_line3 {
  margin: 14px;
}

/*-----------------Media query---------------*/
@media (max-width: 1199px) {
  .vid_content {
    right: 20px;
  }
}

@media (max-width: 1002px) {
  .doctor_names_rt {
    position: relative;
    right: 0;
    top: 0;
  }

  .doctor_revo {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .lf-ghost {
    height: auto !important;
  }

  .vdivider {
    border: none;
  }

  .txt_c_m {
    text-align: left !important;
  }

  .mrg_top_m2 {
    margin: 40px 0 0;
  }

  .menu {
    position: relative !important;
  }

  .content_blogg {
    height: 220px !important;
  }

  .border_left {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .pdg_left {
    padding: 5px 20px;
  }

  .video_hd1 {
    font-size: 24px;
  }

  .video_hd2 {
    font-size: 20px;
  }

  .video_hd3 {
    font-size: 14px;
  }

  .vid_img {
    margin: 90px auto 0;
  }

  .vid_content {
    top: -90px;
    right: 0;
    left: 0;
    padding: 0 10px;
  }

  .icon_pan {
    float: left;
    width: 60px;
    margin: 10px 0 0 0;
  }

  .mrg_top_m {
    margin: 15px 0 0 0;
  }

  .panel_one, .panel_one_one, .panel_two, .panel_three, .panel_four, .panel_five, .panel_six, .panel_seven, .panel_eight {
    height: auto;
  }

  .pdgrt {
    padding: 0 15px 0 0;
  }

  .pdgrt2 {
    padding: 5px 20px;
  }

  .hd4_m {
    font-size: 14px;
    padding: 5px 0;
    font-weight: 500;
  }

  .insight_frm {
    font-size: 16px;
  }

  .text_left_m {
    text-align: left !important;
    padding: 10px 15px;
  }

  .add_txt {
    float: left;
    width: 100%;
    margin: 15px 0 0;
  }

  .add_txt p {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .vid_modal_dialog {
    margin: 20px auto !important;
  }

  .home_modal_dialog_box_signup {
    width: 90%;
    margin: 20px auto;
  }

  .mrg_top_m3 {
    margin: 5px 0 0;
  }

  .pdg_l_five {
    padding-left: 15px !important;
  }
}

@media (max-width: 700px) {
  .doctor_revo {
    padding: 20px;
  }

  .revo_p {
    padding: 0;
    margin: 0 0 20px 0;
  }

  h3, .regis_hd2 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .vid_img {
    margin: 90px 0 0 0;
  }

  .vws_pan {
    width: 100%;
    margin: 10px 0 0;
  }

  .inner_hd1 h2 {
    display: none;
  }

  .hd1 {
    font-size: 20px;
  }

  .back1, .back2, .back3 {
    padding: 10px 0;
  }

  .video_hd1 {
    margin: 10px 0 0;
  }
}

@media (max-width: 480px) {
  .other_stories {
    width: 100%;
  }

  .doc_nm, .icon_hd {
    font-size: 16px;
  }

  .main_heading, .main_heading2, .main_heading2 {
    font-size: 24px;
  }

  .hdg_line, .hdg_line2, .hdg_line2 {
    margin: 12px;
  }

  .live_now {
    float: none;
    margin: 0 0 10px 0;
    font-size: 20px;
    padding: 20px;
  }
}

@media (max-width: 420px) {
  .vid_modal_dialog {
    width: 90% !important;
  }
}

@media (max-width: 400px) {
  .hd4 {
    font-size: 14px;
  }

  .hd5 {
    font-size: 12px;
    padding: 0;
  }

  .hd4_m {
    font-size: 12px;
    padding: 2px 0;
  }

  .insights_m {
    display: block;
    font-size: 14px;
    padding: 4px 0 10px 0;
    margin: 0;
  }

  .insights_w {
    display: none;
  }

  .nne {
    margin: 30px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
