<!-- Content Wrapper. Contains page content -->
<div>
  <!-- Content Header (Page header) -->
  <section>
    <h1 class="sub_head">
      Invoice
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="box" style="padding: 10px 6px;" ngStyle.xs="width:96%;padding:10px;">
      <!-- title row -->

      <div fxLayout="column" fxFlex="100%" style="padding:10px 30px" ngStyle.xs="padding:0px 4px;">

        <div fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayoutAlign.xs="center center">
          <div fxLayout="column" fxFlex="100%">
            <div style="margin-top: 10px;"><img src="https://storage.googleapis.com/web-assets/dpm_doctor.png"
                                                height="80"/>
              <!-- <small class="pull-right">TheRightDoctors|Digital Health Invoice No. {{$id}}</small><hr> -->
            </div>
          </div>
          <div fxLayout="column" fxFlex="100%">
            <div style="margin-top: 10px;text-align:right" ngStyle.xs="text-align: left">
              <b>Right Doctors Healthcare Technologies Pvt Ltd</b><br/>
              Begumpet, Hyderabad, Telangana - 500016 <br>
              Ph No: 040 66901907<br>
            </div>
          </div>
        </div>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <!-- info row -->
        <div fxLayout="row" fxFlex="100%" fxLayout.xs="column" fxLayoutAlign.xs="center center">
          <!-- /.col -->
          <div fxLayout="column" fxFlex="100%" fxLayoutAlign.xs="center center">
            <div style="margin-top: 10px;text-align:left">
              <span><b>Payment date:</b> {{user['subscription'][0]['TXNDATE'] | amDateFormat: 'DD-MM-YYYY'}} (dd-mm-yyyy)</span><br>
              <span><b>Payment by:</b>Dr. {{ user['userinfo'][0]['name'] }}
            {{ user['userinfo'][0]['lname'] }} ({{ user['userinfo'][0]['email']}})</span><br>
              <span><b>Payment to:</b> TheRightDoctors (info@therightdoctors.com)</span><br>
            </div>
          </div>
          <div fxLayout="column" fxFlex="100%" fxLayoutAlign.xs="center center">
            <div style="margin-top: 10px;text-align:right" ngStyle.xs="text-align: left">
              <span><b>GST No.</b> 36AAGCR4927EIZC</span><br/>
              <span><b>Company: </b>Right Doctors Healthcare Technologies</span><br/>
              <span><b>PAN No.</b>AAGCR4927E </span><br/>
            </div>
          </div>
        </div>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <!-- /.row -->

        <!-- Table row -->
        <div style="border:1px solid lightgray">

          <div fxLayout="column" fxFlex="100%">
            <div *ngIf="user['subscription'][0]['SUBSCRIPTION_PLAN']=='basic'">
              <!--          @if($_SESSION['subscription'][0]['SUBSCRIPTION_PLAN']=='basic')-->
              <div fxLayout="column" fxFlex="100%">
                <h2 class="text-bold" style="margin-bottom: 5px;">Basic Plan Registration Details</h2>
              </div>
              <div fxLayout="column" fxFlex="100%">

                <table>
                  <thead>

                  <tr>
                    <th width="10%">S.No.</th>
                    <th width="30%">Service</th>
                    <th width="50%">Description</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr>
                    <td>1</td>
                    <td>Patient Registration</td>
                    <td>Add your patients to your dashboard</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Adherence tool</td>
                    <td>Embrace Digital Health : Digitise your Prescription and Drive Adherence</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Data Dashboard</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>Tele Consult</td>
                    <td>Enable Access : through Tele Conferencing</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Video Consult</td>
                    <td>Enable Access : through Video Conferencing</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Priority Consult</td>
                    <td>Enable Access : Prority Consult</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br/>
            <mat-divider></mat-divider>
            <br/>
            <div fxLayout="column" fxFlex="100%">
              <div fxLayout="row" fxFlex="100%">
                <h2 class="text-bold" style="margin-top: 0;">Payment Summary</h2>
              </div>
              <div fxLayout="row" fxFlex="100%">
                <table>
                  <thead>
                  <tr>
                    <th width="10%">S.No.</th>
                    <th width="30%">Title</th>
                    <th width="50%">Value</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr style="background-color: #f9f9f9;">
                    <td>1</td>
                    <td class="text-bold">Registration Fees</td>
                    <td>Rs.100.00</td>
                  </tr>
                  <tr style="background-color: #f9f9f9;">
                    <td>2</td>
                    <td class="text-bold">GST @18%</td>
                    <td>Rs.18.00</td>
                  </tr>


                  <tr style="background-color: #f9f9f9;">
                    <td style="border-top: 3px solid #333; border-bottom: 3px solid #333;"></td>
                    <td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">AMOUNT PAID
                    </td>
                    <td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">Rs.118.00</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div *ngIf="user['subscription'][0]['SUBSCRIPTION_PLAN']=='medium'">
              <!-- @elseif($_SESSION['subscription'][0]['SUBSCRIPTION_PLAN']=='medium')-->
              <div fxLayout="column" fxFlex="100%">
                <div fxLayout="row" fxFlex="100%">
                  <h2 class="text-bold" style="margin-top: 0;">Medium Plan Registration Details</h2>
                </div>
                <div fxLayout="row" fxFlex="100%">
                  <table>
                    <thead>
                    <tr>
                      <th width="10%">S.No.</th>
                      <th width="30%">Service</th>
                      <th width="50%">Description</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr>
                      <td>1</td>
                      <td>Patient Registration</td>
                      <td>Add your patients to your dashoard</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Adherence tool</td>
                      <td>Embrace Digital Health : Digitise your Prescription and Drive Adherence</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Data Dashboard</td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>5</td>
                      <td>Tele Consult</td>
                      <td>Enable Access : through Tele Conferencing</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Video Consult</td>
                      <td>Enable Access : through Video Conferencing</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Priority Consult</td>
                      <td>Enable Access : Prority Consult</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Answer Questions</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>Knowledge Partner Management Services:<br/>Facebook<br/>Twitter<br/>WhatsApp</td>
                      <td></td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br/>
            <mat-divider></mat-divider>
            <br/>
            <div fxLayout="column" fxFlex="100%">
              <div fxLayout="row" fxFlex="100%">
                <h2 class="text-bold" style="margin-top: 0;">Payment Summary</h2>
              </div>
              <div fxLayout="row" fxFlex="100%">
                <table>
                  <thead>
                  <tr>
                    <th width="10%">S.No.</th>
                    <th width="30%">Title</th>
                    <th width="50%">Value</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr style="background-color: #f9f9f9;">
                    <td>1</td>
                    <td class="text-bold">Registration Fees</td>
                    <td>Rs.110.00</td>
                  </tr>
                  <tr style="background-color: #f9f9f9;">
                    <td>2</td>
                    <td class="text-bold">GST @18%</td>
                    <td>Rs.19.80</td>
                  </tr>

                  <tr style="background-color: #f9f9f9;">
                    <td style="border-top: 3px solid #333; border-bottom: 3px solid #333;"></td>
                    <td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">AMOUNT PAID
                    </td>
                    <td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">Rs.129.80</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br/>
            <mat-divider></mat-divider>
            <br/>
            <div *ngIf="user['subscription'][0]['SUBSCRIPTION_PLAN']=='advance'">
              <!-- @elseif($_SESSION['subscription'][0]['SUBSCRIPTION_PLAN']=='advance')-->
              <div fxLayout="column" fxFlex="100%">
                <div fxLayout="row" fxFlex="100%">
                  <h2 class="text-bold" style="margin-top: 0;">Advance Plan Registration Details</h2>
                </div>
                <div fxLayout="row" fxFlex="100%">
                  <table>
                    <thead>
                    <tr>
                      <th width="10%">S.No.</th>
                      <th width="30%">Service</th>
                      <th width="50%">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>Patient Registration</td>
                      <td>Add your patients to your dashoard</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Adherence tool</td>
                      <td>Embrace Digital Health : Digitise your Prescription and Drive Adherence</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Data Dashboard</td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>5</td>
                      <td>Tele Consult</td>
                      <td>Enable Access : through Tele Conferencing</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Video Consult</td>
                      <td>Enable Access : through Video Conferencing</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Priority Consult</td>
                      <td>Enable Access : Prority Consult</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Answer Questions</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td> Knowledge Partner Management Services:<br/>You Tube channel<br/>LinkedIn<br/>GooglePlus</td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>9</td>
                      <td>Email campaigns</td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>10</td>
                      <td>Microsite on therightdoctors.com</td>
                      <td></td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br/>
            <mat-divider></mat-divider>
            <br/>
            <div fxLayout="column" fxFlex="100%">
              <div fxLayout="row" fxFlex="100%">
                <h2 class="text-bold" style="margin-top: 0;">Payment Summary</h2>
              </div>
              <div fxLayout="row" fxFlex="100%">
                <table>
                  <thead>
                  <tr>
                    <th width="10%">S.No.</th>
                    <th width="30%">Title</th>
                    <th width="50%">Value</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr style="background-color: #f9f9f9;">
                    <td>1</td>
                    <td class="text-bold">Registration Fees</td>
                    <td>Rs.120.00</td>
                  </tr>
                  <tr style="background-color: #f9f9f9;">
                    <td>2</td>
                    <td class="text-bold">GST @ 18%</td>
                    <td>Rs.21.60</td>
                  </tr>

                  <tr style="background-color: #f9f9f9;">
                    <td style="border-top: 3px solid #333; border-bottom: 3px solid #333;"></td>
                    <td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">AMOUNT PAID
                    </td>
                    <td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">Rs.141.60</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br/>
            <div fxLayout="column" fxFlex="100%">
              <div fxLayout="row" fxFlex="100%">
                <br/>
                <small>Note: This is an electronically generated invoice and does not require a physical signature.</small>
              </div>
            </div>

          </div>

          <br/>
          <div fxLayout="column" fxFlex="100%">
            <div fxLayout="row" fxFlex="100%">
              <a href="invoice/print/{{id}}" target="_blank"><button mat-raised-button class="details_b"><i class="material-icons">print</i>
                Print</button></a>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
  </section>
</div>



<!--&lt;!&ndash; Content Wrapper. Contains page content &ndash;&gt;-->
<!--<div class="content-wrapper">-->
<!--&lt;!&ndash; Content Header (Page header) &ndash;&gt;-->
<!--<section class="content-header">-->
<!--<h1>-->
<!--Invoice-->
<!--</h1>-->
<!--</section>-->

<!--&lt;!&ndash; Main content &ndash;&gt;-->
<!--<section class="content">-->

<!--<div class="box" style="padding: 10px 30px;">-->
<!--&lt;!&ndash; title row &ndash;&gt;-->


<!--<div class="row invoice-info">-->
<!--<div class="col-sm-6 col-xs-12 invoice-col">-->
<!--<div style="margin-top: 10px;"><img src="https://storage.googleapis.com/web-assets/dpm_doctor.png"-->
<!--height="80"/>-->
<!--&lt;!&ndash; <small class="pull-right">TheRightDoctors|Digital Health Invoice No. {{$id}}</small><hr> &ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-6 col-xs-12 invoice-col text-right text-left-m" style="margin-top: 0px!important;">-->
<!--<div style="margin-top: 10px;">-->
<!--<b>Right Doctors Healthcare Technologies Pvt Ltd</b><br/>-->
<!--Begumpet, Hyderabad, Telangana - 500016 <br>-->
<!--Ph No: 040 66901907<br>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /.col &ndash;&gt;-->
<!--</div>-->
<!--<hr>-->
<!--&lt;!&ndash; info row &ndash;&gt;-->
<!--<div class="row invoice-info">-->
<!--&lt;!&ndash; /.col &ndash;&gt;-->
<!--<div class="col-sm-6 invoice-col">-->
<!--<b>Payment date:</b> {{user['subscription'][0]['TXNDATE'] | amDateFormat: 'DD-MM-YYYY'}} (dd-mm-yyyy)<br>-->
<!--<b>Payment by:</b>Dr. {{ user['userinfo'][0]['name'] }}-->
<!--{{ user['userinfo'][0]['lname'] }} ({{ user['userinfo'][0]['email']}})<br>-->
<!--<b>Payment to:</b> TheRightDoctors (info@therightdoctors.com)<br>-->
<!--</div>-->
<!--<div class="col-sm-6 invoice-col text-right">-->
<!--<b>GST No.</b> 36AAGCR4927EIZC<br/>-->
<!--<b>Company: </b>Right Doctors Healthcare Technologies<br/>-->
<!--<b>PAN No.</b>AAGCR4927E <br/>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--&lt;!&ndash; /.row &ndash;&gt;-->

<!--&lt;!&ndash; Table row &ndash;&gt;-->

<!--<div class="row">-->
<!--<div *ngIf="user['subscription'][0]['SUBSCRIPTION_PLAN']=='basic'">-->
<!--&lt;!&ndash;          @if($_SESSION['subscription'][0]['SUBSCRIPTION_PLAN']=='basic')&ndash;&gt;-->
<!--<h4 class="text-bold" style="margin-bottom: 5px;">Basic Plan Registration Details</h4>-->
<!--<div class="col-xs-12 table-responsive mrg_btm2">-->

<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th width="10%">S.No.</th>-->
<!--<th width="30%">Service</th>-->
<!--<th width="50%">Description</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->

<!--<tr>-->
<!--<td>1</td>-->
<!--<td>Patient Registration</td>-->
<!--<td>Add your patients to your dashoard</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>2</td>-->
<!--<td>Adherence tool</td>-->
<!--<td>Embrace Digital Health : Digitise your Prescription and Drive Adherence</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>3</td>-->
<!--<td>Data Dashboard</td>-->
<!--<td></td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>5</td>-->
<!--<td>Tele Consult</td>-->
<!--<td>Enable Access : through Tele Conferencing</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>4</td>-->
<!--<td>Video Consult</td>-->
<!--<td>Enable Access : through Video Conferencing</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>6</td>-->
<!--<td>Priority Consult</td>-->
<!--<td>Enable Access : Prority Consult</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<hr>-->

<!--<h4 class="text-bold" style="margin-top: 0;">Payment Summary</h4>-->
<!--<table class="table">-->
<!--<thead>-->
<!--<tr>-->
<!--<th width="10%">S.No.</th>-->
<!--<th width="30%">Title</th>-->
<!--<th width="50%">Value</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr style="background-color: #f9f9f9;">-->
<!--<td>1</td>-->
<!--<td class="text-bold">Registration Fees</td>-->
<!--<td>Rs.100.00</td>-->
<!--</tr>-->
<!--<tr style="background-color: #f9f9f9;">-->
<!--<td>2</td>-->
<!--<td class="text-bold">GST @18%</td>-->
<!--<td>Rs.18.00</td>-->
<!--</tr>-->


<!--<tr style="background-color: #f9f9f9;">-->
<!--<td style="border-top: 3px solid #333; border-bottom: 3px solid #333;"></td>-->
<!--<td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">AMOUNT PAID-->
<!--</td>-->
<!--<td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">Rs.118.00</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<div *ngIf="user['subscription'][0]['SUBSCRIPTION_PLAN']=='medium'">-->
<!--&lt;!&ndash; @elseif($_SESSION['subscription'][0]['SUBSCRIPTION_PLAN']=='medium')&ndash;&gt;-->
<!--<h4 class="text-bold" style="margin-top: 0;">Medium Plan Registration Details</h4>-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th width="10%">S.No.</th>-->
<!--<th width="30%">Service</th>-->
<!--<th width="50%">Description</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->


<!--<tr>-->
<!--<td>1</td>-->
<!--<td>Patient Registration</td>-->
<!--<td>Add your patients to your dashoard</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>2</td>-->
<!--<td>Adherence tool</td>-->
<!--<td>Embrace Digital Health : Digitise your Prescription and Drive Adherence</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>3</td>-->
<!--<td>Data Dashboard</td>-->
<!--<td></td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>5</td>-->
<!--<td>Tele Consult</td>-->
<!--<td>Enable Access : through Tele Conferencing</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>4</td>-->
<!--<td>Video Consult</td>-->
<!--<td>Enable Access : through Video Conferencing</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>6</td>-->
<!--<td>Priority Consult</td>-->
<!--<td>Enable Access : Prority Consult</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>7</td>-->
<!--<td>Answer Questions</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>8</td>-->
<!--<td>Knowledge Partner Management Services:<br/>Facebook<br/>Twitter<br/>WhatsApp</td>-->
<!--<td></td>-->
<!--</tr>-->

<!--</tbody>-->
<!--</table>-->
<!--<hr>-->
<!--<h4 class="text-bold" style="margin-top: 0;">Payment Summary</h4>-->
<!--<table class="table">-->
<!--<thead>-->
<!--<tr>-->
<!--<th width="10%">S.No.</th>-->
<!--<th width="30%">Title</th>-->
<!--<th width="50%">Value</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr style="background-color: #f9f9f9;">-->
<!--<td>1</td>-->
<!--<td class="text-bold">Registration Fees</td>-->
<!--<td>Rs.110.00</td>-->
<!--</tr>-->
<!--<tr style="background-color: #f9f9f9;">-->
<!--<td>2</td>-->
<!--<td class="text-bold">GST @18%</td>-->
<!--<td>Rs.19.80</td>-->
<!--</tr>-->

<!--<tr style="background-color: #f9f9f9;">-->
<!--<td style="border-top: 3px solid #333; border-bottom: 3px solid #333;"></td>-->
<!--<td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">AMOUNT PAID-->
<!--</td>-->
<!--<td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">Rs.129.80</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<div *ngIf="user['subscription'][0]['SUBSCRIPTION_PLAN']=='advance'">-->
<!--&lt;!&ndash; @elseif($_SESSION['subscription'][0]['SUBSCRIPTION_PLAN']=='advance')&ndash;&gt;-->
<!--<h4 class="text-bold" style="margin-top: 0;">Advance Plan Registration Details</h4>-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th width="10%">S.No.</th>-->
<!--<th width="30%">Service</th>-->
<!--<th width="50%">Description</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>1</td>-->
<!--<td>Patient Registration</td>-->
<!--<td>Add your patients to your dashoard</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>2</td>-->
<!--<td>Adherence tool</td>-->
<!--<td>Embrace Digital Health : Digitise your Prescription and Drive Adherence</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>3</td>-->
<!--<td>Data Dashboard</td>-->
<!--<td></td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>5</td>-->
<!--<td>Tele Consult</td>-->
<!--<td>Enable Access : through Tele Conferencing</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>4</td>-->
<!--<td>Video Consult</td>-->
<!--<td>Enable Access : through Video Conferencing</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>6</td>-->
<!--<td>Priority Consult</td>-->
<!--<td>Enable Access : Prority Consult</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>7</td>-->
<!--<td>Answer Questions</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>8</td>-->
<!--<td> Knowledge Partner Management Services:<br/>You Tube channel<br/>LinkedIn<br/>GooglePlus</td>-->
<!--<td></td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>9</td>-->
<!--<td>Email campaigns</td>-->
<!--<td></td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>10</td>-->
<!--<td>Microsite on therightdoctors.com</td>-->
<!--<td></td>-->
<!--</tr>-->

<!--</tbody>-->
<!--</table>-->
<!--<hr>-->

<!--<h4 class="text-bold" style="margin-top: 0;">Payment Summary</h4>-->
<!--<table class="table">-->
<!--<thead>-->
<!--<tr>-->
<!--<th width="10%">S.No.</th>-->
<!--<th width="30%">Title</th>-->
<!--<th width="50%">Value</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr style="background-color: #f9f9f9;">-->
<!--<td>1</td>-->
<!--<td class="text-bold">Registration Fees</td>-->
<!--<td>Rs.120.00</td>-->
<!--</tr>-->
<!--<tr style="background-color: #f9f9f9;">-->
<!--<td>2</td>-->
<!--<td class="text-bold">GST @ 18%</td>-->
<!--<td>Rs.21.60</td>-->
<!--</tr>-->

<!--<tr style="background-color: #f9f9f9;">-->
<!--<td style="border-top: 3px solid #333; border-bottom: 3px solid #333;"></td>-->
<!--<td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">AMOUNT PAID-->
<!--</td>-->
<!--<td class="text-bold" style="border-top: 3px solid #333; border-bottom: 3px solid #333;">Rs.141.60</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--</div>-->

<!--<small>Note: This is an electronically generated invoice and does not require a physical signature.</small>-->
<!--</div>-->
<!--&lt;!&ndash; /.col &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.row &ndash;&gt;-->

<!--&lt;!&ndash; this row will not appear when printing &ndash;&gt;-->
<!--<div class="row no-print">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary" target="_blank"><a href="invoice/print/{{id}}"><i class="fa fa-print"></i>-->
<!--Print</a></button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--</div>-->

