<!--<div fxLayout="column" class="list-about">-->
  <!--<div class="demo-tab-content">-->
    <!--<h3 class="mrg_btm2 head-responsive"><strong>Conditions and Symptoms</strong></h3>-->
    <!--<ng-template ngFor let-item [ngForOf]="createRange(list['health_list'].length)" let-innerIndex="index">-->
      <!--<div fxLayout="row">-->
        <!--<div fxFlex="50" class="value-proflle">-->
          <!--<mat-list >-->
            <!--<mat-list-item> Conditions: </mat-list-item>-->
          <!--</mat-list >-->
        <!--</div>-->
        <!--<div fxFlex="50" class="mat-list-value">-->
          <!--<mat-list>-->
            <!--<mat-list-item> {{list['health_list'][innerIndex]['conditions_symptoms']}}</mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div fxLayout="row">-->
        <!--<div fxFlex="50" class="value-proflle">-->
          <!--<mat-list>-->
            <!--<mat-list-item> Conditions Have: </mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
        <!--<div fxFlex="50" class="mat-list-value">-->
          <!--<mat-list>-->
            <!--<mat-list-item> {{list['health_list'][innerIndex]['conditions_have']}}</mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div fxLayout="row">-->
        <!--<div fxFlex="50" class="value-proflle">-->
          <!--<mat-list>-->
            <!--<mat-list-item> Notes: </mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
        <!--<div fxFlex="50" class="mat-list-value">-->
          <!--<mat-list>-->
            <!--<mat-list-item> {{list['health_list'][innerIndex]['conditions_note']}}</mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
      <!--</div>-->

    <!--</ng-template>-->
    <!--<h3 class="mrg_btm2 head-responsive"><strong>Medications</strong></h3>-->
    <!--<ng-template ngFor let-item [ngForOf]="createRange(list['medication_list'].length)" let-innerIndex="index" *ngIf="list['medication_list'].length>0">-->
      <!--<div fxLayout="row">-->
        <!--<div fxFlex="50" class="value-proflle">-->
          <!--<mat-list>-->
            <!--<mat-list-item> Medicine: </mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
        <!--<div fxFlex="50" class="mat-list-value">-->
          <!--<mat-list>-->
            <!--<mat-list-item> {{list['medication_list'][innerIndex]['medication']}}</mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div fxLayout="row">-->
        <!--<div fxFlex="50" class="value-proflle">-->
          <!--<mat-list>-->
            <!--<mat-list-item> Medication Take: </mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
        <!--<div fxFlex="50" class="mat-list-value">-->
          <!--<mat-list>-->
            <!--<mat-list-item> {{list['medication_list'][innerIndex]['medication_take']}}</mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div fxLayout="row">-->
        <!--<div fxFlex="50" class="value-proflle">-->
          <!--<mat-list>-->
            <!--<mat-list-item> Notes: </mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
        <!--<div fxFlex="50" class="mat-list-value">-->
          <!--<mat-list>-->
            <!--<mat-list-item> {{list['medication_list'][innerIndex]['medication_note']}}</mat-list-item>-->
          <!--</mat-list>-->
        <!--</div>-->
      <!--</div>-->

    <!--</ng-template>-->


  <!--</div>-->




<!--</div>-->
