@media (max-width: 450px) {
  .box {
    padding: 10px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border:1px solid #f4f4f4
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #f3f3f3;
}
th {
  background: #fff;
  color: #000;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #f4f4f4;
  text-align: center;
  font-size:11px;
}
td{
  border:1px solid #f4f4f4;
}
