.top-header{
  background-color:#0c58a5;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  /*width: 100%;*/
}

@media (max-width:600px) {
  .container {
    max-width: 100%;
  }
  .para-pill{
    font-size:16px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.connect{
  font-size: 24px;
  font-weight: 500;
  color: #0c0c0c;
  padding: 30px 0;
  margin: 0 30px;
  font-family: "Open Sans";
}
.dpm{
  color: #e60909;
  margin-bottom: 30px;
  font-size: 33px;
  font-weight: 500;
  font-family: "Open Sans";}
.content-login{
  margin-top:70px;

}
.petiant{
  color: #0c58a5;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 500;
}
.para-pill{
  color:#7d7b7b;
  font-size:20px;
  font-weight:400;
}
.log-in{
  background-color: #0c5eff;
  color:#fff;
  margin-top:10px;
}
.footer-dpm{
  margin-top:100px;
  background-color: #000;
  color:#fff;
  padding-top:15px ;
  padding-bottom: 15px;
}
.list-footer li{
  display:inline;
  padding:4px 10px 0px;
}
.login{
  background-color: #0c5eff;
  color: #fff;
  margin-top: 14px;
}


.mrg_btm{
  margin-top:10px;
  text-align:center;
  font-size:14px;
}
.details_b{
  background-color:#0c58a5;
}
@media (max-width: 600px) {
  .connect {
    font-size: 14px;
    font-weight: 500;
    color: #0c0c0c;
    padding: 8px 0;
    margin: 0 30px;
    font-family: "Open Sans";
  }
  .loginp{
    font-size:14px;
  }
  .login_box{
    box-shadow:none;
    margin:15px;
    padding:4px 0px 0px 4px;
  }
  .mrg_btm{
    margin-top:10px;
    text-align:center;
    font-size:12px;
  }
}
input[type=password]{
  border:0px;
  box-shadow:none;
  background:none;
}

.login_box{
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 0px 4px #bbb;
  -moz-box-shadow: 0 0px 4px #bbb;
  -webkit-box-shadow: 0 0px 4px #bbb;
  margin: 15px 0;
}
.loginp{
  text-align:center;
  font-size:25px;
  font-weight:400;
  margin-bottom:1.3125rem;
  margin-top:1.3125rem
}
@media (max-width:320px){
  .login_box{
    margin:15px;
    box-shadow:none;
    padding:4px 0px 0px 4px;
  }
  .mrg_btm{
    margin-top:10px;
    text-align:center;
    font-size:12px;
    color:#0c58a5;
  }
  .details_b{
    background-color: #0c58a5;
    border-radius:100px;
    width:100%;
  }
}
