
<section class="top-header" style="position:relative;top:0;left:0;width:100%;border-top:2px solid #d9534f">
  <div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100">
        <img src="../../assets/styles/new-home-page/single/images/new_dpm.jpg" style="width: 88px;height: 88px;margin-left:15%;" ngStyle.xs="margin-left:10%;width:44px;height:44px;"/>
      </div>
    </div>
  </div>
</section>

<section class="back2">
  <div fxLayout="column">
    <div fxFlex="100" fxLayout="column">

      <h3 class="loginp"><b>Reset your password</b></h3>
    </div>

    <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
      <div class="login_box" style="padding:30px 125px 30px 50px!important;border-radius:10px">
        <form id="example-form" (ngSubmit)="pwd_reset()" #f="ngForm" novalidate>
          <p *ngIf="sent" style="color:lightseagreen">{{result}}</p>
          <mat-form-field style="width:150%">
            <input matInput name="email" placeholder="Email Address" [(ngModel)]="model.email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" autofocus required>
            <mat-error *ngIf="inputChecking.hasError('required')">
              Please enter valid email address (<b>Ex: abc@gmail.com</b>)
            </mat-error>
          </mat-form-field>
          <br/>
          <div>
            <button mat-raised-button class="details_b" type="submit" [disabled]="!f.form.valid">Submit
              <i class="fa fa-spinner fa-spin" style="font-size:24px;" *ngIf="load"></i>
              <i class="fa fa-check" style="font-size:24px;color:greenyellow" *ngIf="sent"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
