.example-form {
  /* min-width: 150px;
   max-width: 500px;*/
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.personal{
  font-size: 24px;
  margin-top: 22px;
  font-weight: 400;
}
.btn-save{
  background: #0c58a5;
  color: #fff
}
@media (max-width:599px){
  .list-fild mat-list-item{
    font-size:10px !important;

  }

}
.marg-top{
  margin-top:50px;
}
button{
  background-color: #0c58a5!important;
}
