<!--<div fxLayout="row" fxLayoutAlign="center">-->
  <!--<h3 class="personal">Deactivate account</h3>-->
<!--</div>-->

<!--<div fxLayout="row" fxLayout.xs="column" class="marg-top" fxLayoutAlign="center">-->
  <!--<div fxFlex="20" fxShow.xs="false"></div>-->
  <!--<div class="pers">-->

    <!--<div fxLayout="row">-->
      <!--<p>Deactivating your account will disable your profile</p><br>-->

    <!--</div>-->
    <!--<br>-->
    <!--<button mat-raised-button color="warn" (click)="onsubbmit()">Deactivate Your Account</button>-->
  <!--</div>-->
  <!--<div fxFlex="20" fxShow.xs="false"></div>-->
<!--</div>-->





<h3 class="personal"><strong>Deactivate account</strong></h3>

<div fxLayout="row">
  <p>Deactivating your account will disable your profile</p><br>

</div>
<br>
<button mat-raised-button color="warn" class="btn-save"  (click)="onsubbmit()">Deactivate Your Account</button>
