<div fxLayout="column" class="list-about">
  <mat-list class="list-about-profile">
    <mat-list-item><b>Address:</b><span>{{patients[0]['paddress']}} {{patients[0]['street'] }}</span>  </mat-list-item>
    <mat-list-item><b>Country:</b> <span>{{patients[0]['country']}}</span> </mat-list-item>
    <mat-list-item><b>State:</b> <span>{{patients[0]['state']}}</span></mat-list-item>
    <mat-list-item><b>City:</b><span>{{patients[0]['city']}}</span></mat-list-item>
    <mat-list-item><b>Zip Code:</b><span>{{patients[0]['zip']}}</span>  </mat-list-item>
    <mat-list-item><b>Mobile Number:</b><span>{{patients[0]['mobile_number']}}</span> </mat-list-item>
    <mat-list-item><b>Email Id:</b><span>{{patients[0]['email']}}</span></mat-list-item>

  </mat-list>


</div>

