<div>
  <form class="form-horizontal form-horizontal2">
    <h3 class="mrg_btm2">My Lifestyle</h3>

    <div class="form-group">
      <h4 class="col-md-12 col-sm-12 col-xs-12">Do you get at least 7 hours of sleep daily?</h4>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="control-label">{{patients[0]['sleep_daily'] }}</div>
      </div>
    </div>


    <div class="form-group">
      <h4 class="col-md-12 col-sm-12 col-xs-12">Do you exercise?</h4>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="control-label">{{patients[0]['exercise'] }}</div>
      </div>
    </div>

    <div class="form-group">
      <h4 class="col-md-12 col-sm-12 col-xs-12">Do you get yearly flu shots?</h4>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="control-label">{{patients[0]['yearly_flu_shots']}}</div>
      </div>
    </div>

    <div class="form-group">
      <h4 class="col-md-12 col-sm-12 col-xs-12">Do you smoke or use tobacco?</h4>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="control-label">{{patients[0]['smoke_tobacco'] }}</div>
      </div>
    </div>

    <div class="form-group">
      <h4 class="col-md-12 col-sm-12 col-xs-12">Do you drink alcohol?</h4>
      <div class="col-md-12">
        <div class="control-label">{{patients[0]['alcohol']}}</div>
      </div>
    </div>

    <div class="form-group">
      <h4 class="col-md-12 col-sm-12 col-xs-12">Do you use recreational drugs?</h4>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="control-label">{{patients[0]['drugs']}}</div>
      </div>
    </div>

  </form>
</div>
