<!--<div fxLayout="row" fxLayoutAlign="center">-->
  <!--<h2 class="personal" style="padding-top: 2%;">Personal Details</h2>-->
<!--</div>-->
<!--<div fxLayout="row" fxLayout.xs="column" class="marg-top">-->
  <!--<div fxFlex="20" fxShow.xs="false"></div>-->
  <!--<div class="pers">-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->

        <!--First Name :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->

        <!--<form class="example-form">-->
          <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
            <!--<input matInput name="name" [(ngModel)]="model.name" #name="ngModel" value="">-->
          <!--</mat-form-field>-->
        <!--</form>-->

      <!--</div>-->

    <!--</div>-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->
        <!--Last Name :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->


        <!--<form class="example-form">-->
          <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
            <!--<input matInput name="lname" [(ngModel)]="model.lname" #lname="ngModel" value="">-->
          <!--</mat-form-field>-->
        <!--</form>-->

      <!--</div>-->

    <!--</div>-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->

        <!--Email Address :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->

        <!--<form class="example-form">-->
          <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
            <!--<input matInput name="email" [(ngModel)]="model.email" #email="ngModel" value="">-->
          <!--</mat-form-field>-->
        <!--</form>-->

      <!--</div>-->

    <!--</div>-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->

        <!--Mobile Number :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->

        <!--<form class="example-form">-->
          <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
            <!--<input matInput  name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" value="">-->
          <!--</mat-form-field>-->
        <!--</form>-->

      <!--</div>-->

    <!--</div>-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->

        <!--Date of birth :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->
        <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
          <!--<input matInput [matDatepicker]="picker" [(ngModel)]="model.dob" #dob="ngModel" name="dob" data-format="yyyy-MM-dd">-->
          <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
          <!--<mat-datepicker #picker></mat-datepicker>-->
        <!--</mat-form-field>-->

      <!--</div>-->

    <!--</div>-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->

        <!--Country :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->

        <!--<form class="example-form">-->
          <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
            <!--&lt;!&ndash;<input matInput >&ndash;&gt;-->
            <!--<mat-select name="country" [(ngModel)]="model.country" #country="ngModel">-->
              <!--<mat-option value="India">India-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
        <!--</form>-->

      <!--</div>-->

    <!--</div>-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->

        <!--State :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->

        <!--<form class="example-form">-->
          <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
            <!--<mat-select name="state" [(ngModel)]="model.state" #state="ngModel">-->
              <!--<mat-option value="Andhra Pradesh">Andhra Pradesh-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
        <!--</form>-->

      <!--</div>-->

    <!--</div>-->
    <!--<div fxLayout="row" fxLayout.xs="column">-->
      <!--<div fxFlex="40" fxFlex.xs="100">-->

        <!--City  :-->

      <!--</div>-->
      <!--<div fxFlex="60" fxFlex.xs="100">-->

        <!--<form class="example-form">-->
          <!--<mat-form-field class="example-full-width" style="width: 100%;">-->
            <!--&lt;!&ndash;<input matInput name="city" [(ngModel)]="model.city" #city="ngModel">&ndash;&gt;-->
            <!--<mat-select name="city" [(ngModel)]="model.city" #city="ngModel">-->
              <!--<mat-option value="Hyderabad">Hyderabad-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
        <!--</form>-->

      <!--</div>-->

    <!--</div>-->

    <!--<div fxLayout="row" >-->
      <!--<button mat-raised-button mat-raised-button color="primary">Submit</button></div>-->



  <!--</div>-->



  <!--<div fxFlex="20" fxShow.xs="false"></div>-->



<!--</div>-->


<div fxLayout="row" fxLayoutAlign="center">
  <h3 class="personal"><strong>Personal Details</strong></h3>
</div>
<div fxLayout="row" fxLayout.xs="column" class="marg-top">
  <div fxFlex="20" fxShow.xs="false"></div>
  <div fxFlex="60" class="hooo">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">

        First Name :

      </div>
      <div fxFlex="60" fxFlex.xs="100">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput name="name" [(ngModel)]="model.name" #name="ngModel" value="">
          </mat-form-field>
        </form>

      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">
        Last Name :

      </div>
      <div fxFlex="60" fxFlex.xs="100">


        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput name="lname" [(ngModel)]="model.lname" #lname="ngModel" value="">
          </mat-form-field>
        </form>

      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">

        Email Address :

      </div>
      <div fxFlex="60" fxFlex.xs="100">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput name="email" [(ngModel)]="model.email" #email="ngModel" value="">
          </mat-form-field>
        </form>

      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">

        Mobile Number :

      </div>
      <div fxFlex="60" fxFlex.xs="100">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" value="">
          </mat-form-field>
        </form>

      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">

        Date of birth :

      </div>
      <div fxFlex="60" fxFlex.xs="100">
        <!--<mat-form-field class="date-width">-->
          <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.dob" #dob="ngModel" name="dob" data-format="yyyy-MM-dd">-->
          <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
          <!--<mat-datepicker #picker></mat-datepicker>-->
        <!--</mat-form-field>-->
        <mat-form-field class="example-full-width" style="width: 100%;">
      <input matInput placeholder="Choose a date" [(ngModel)]="model.dob" #dob="ngModel" name="dob"
             data-format="YYYY-MM-dd" style="
                                                     background-color: #ffffff;
                                                     border: none;box-shadow: none;
                                                      -webkit-transition: none;
                                                     transition: none;"
             [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" bsDatepicker>
      </mat-form-field>
    </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">

        Country :

      </div>
      <div fxFlex="60" fxFlex.xs="100">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <!--<mat-select name="country" [(ngModel)]="model.country" #country="ngModel">-->
            <!--<mat-option value="India">India-->
            <!--</mat-option>-->
            <!--</mat-select>-->
            <input matInput name="country" [(ngModel)]="model.country" #country="ngModel">
          </mat-form-field>
        </form>

      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">

        State :

      </div>
      <div fxFlex="60" fxFlex.xs="100">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <!--<mat-select name="state" [(ngModel)]="model.state" #state="ngModel">-->
            <!--<mat-option value="Andhra Pradesh">Andhra Pradesh-->
            <!--</mat-option>-->
            <!--</mat-select>-->
            <input matInput name="state" [(ngModel)]="model.state" #state="ngModel">
          </mat-form-field>
        </form>

      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="40" fxFlex.xs="100">

        City  :

      </div>
      <div fxFlex="60" fxFlex.xs="100">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <!--<mat-select name="city" [(ngModel)]="model.city" #city="ngModel">-->
            <!--<mat-option value="Hyderabad">Hyderabad-->
            <!--</mat-option>-->
            <!--</mat-select>-->
            <input matInput name="city" [(ngModel)]="model.city" #city="ngModel">
          </mat-form-field>
        </form>

      </div>

    </div>

    <div fxLayout="row" >
      <button mat-raised-button class="btn-save" (click)="onsubbmit()">Submit</button></div>



  </div>



  <div fxFlex="20" fxShow.xs="false"></div>



</div>
