<section  class="top-header" style="margin: 0px!important;">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="20" fxFlex.xs="10">
        <img src="assets/styles/new-home-page/single/images/new_dpm.jpg">
      </div>


      <div fxFlex="60" class="above" align="center" fxFlex.xs="90"><h1 style="color: #0c0c0c;" ngStyle.xs="font-size:12px;">Connect. Drive Adherence. Enable
        Access</h1>
      </div>
      <div fxFlex></div> </div>
    <!-- <div class="pull-right nne nne2">
      <a href="/showcase"><img src="/new-home-page/single/images/nine.png"></a>
     </div>-->
  </div>
</section>


<section class="content-login">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1 class="dpm" ngStyle.xs="font-size:24px;">Digital Doctor Management</h1>
    <img src="assets/dashboard_assets/dashboard/images/doctor_icon.png" style="width:128px;height:128px;border-radius:100px;align-content: center" ngStyle.xs="width:88px;height:88px;border-radius:100px;"/>

    <h1 class="petiant">Doctor</h1>
    <p class="vid_p2 mrg_btm" style="text-align:center;">Digitize your Practice. Drive Adherence. Enable Access</p>

    <div class="container" fxLayoutAlign="center center" fxLayout="row" fxLayout.xs = "column" fxLayoutGap="5px">
      <div fxFlex="100%">
        <a [routerLink]="['doctor-log-in']">
          <mat-button-toggle class="login" type="button" style="background-color: #0c58a5!important;">Log In</mat-button-toggle>
        </a>
      </div>
      <div fxFlex="100%">
        <a [routerLink]="['doctor-quick-registration']">
          <mat-button-toggle class="login" type="button" style="background-color: #0c58a5!important;">Registration</mat-button-toggle>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="footer-dpm">
  <div class=" container" align="center">
    <div fxLayout="row">
      <div fxFlex="40">
        <ul class="list-footer">
          <li ngStyle.xs="display: inherit ; font-size: 11px;">Terms of Service</li>
          <li ngStyle.xs="display: inherit;  font-size: 11px;">Privacy Policy</li>
          <li ngStyle.xs="display: inherit;  font-size: 11px;">Disclaimer</li>
        </ul>
      </div>
      <div fxFlex="10"></div>

      <div fxFlex="50" fxLayoutAlign="end" fxFlex.xs="46">

        <P ngStyle.xs="font-size:11px;">Copyright © TheRightDoctors Network. All Rights Reserved</P>

      </div>
    </div>
  </div>
</section>
<!--<section  class="top-header">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center " >
      <div fxFlex="20" fxFlex.xs="10">
        <img src="assets/styles/new-home-page/single/images/new_dpm.jpg">
      </div>
      <div fxFlex="60" fxLayoutAlign="center center" fxFlex.xs="90">
        <h1 class="connect">Connect. Drive Adherence. Enable Access</h1>
      </div>
      <div fxFlex></div>
    </div>
  </div>
</section>

<section class="content-login">

  <div fxLayout="column" fxLayoutAlign="center center">
    <h1 class="dpm">Digital Patient Management</h1>
    <img src="assets/images/patient_icon.png"/>
    <h2 class="petiant">Doctor</h2>

    <p class="para-pill"> Pill Reminders. Data Driven Decisions. Access Enabled </p>
    <a [routerLink]="['patient-log-in']"> <mat-button-toggle class="login">login</mat-button-toggle></a>
  </div>

</section>

<section class="footer-dpm">
  <div class=" container">
    <div fxLayout="row">
      <div fxFlex="40">
        <ul class="list-footer">
          <li>Terms of Service</li>
          <li>Privacy Policy</li>
          <li>Disclaimer</li>
        </ul>
      </div>
      <div fxFlex="10"></div>

      <div fxFlex="50" fxLayoutAlign="end" fxFlex.xs="46">

        <P>Copyright © TheRightDoctors Network. All Rights Reserved</P>

      </div>
    </div>
  </div>

</section>-->
