<div>

  <form class="form-horizontal form-horizontal2">
    <h3 class="mrg_btm2">Contact Information</h3>
    <div class="form-group">
      <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-6">Address:</label>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-6">
        <div class="control-label">{{patients[0]['paddress']}} {{patients[0]['street'] }}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-6">Country:</label>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-6">
        <div class="control-label">{{patients[0]['country']}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-6">State:</label>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-6">
        <div class="control-label">{{patients[0]['state']}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-6">City:</label>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-6">
        <div class="control-label">{{patients[0]['city']}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-6">Zip Code:</label>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-6">
        <div class="control-label">{{patients[0]['zip']}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-6">Mobile Number:</label>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-6">
        <div class="control-label">{{patients[0]['mobile_number']}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-6">Email Id:</label>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-6">
        <div class="control-label">{{patients[0]['email']}}</div>
      </div>
    </div>

  </form>
</div>
