<nav class="navbar navbar-inverse nav_panel">
  <div class="container">
    <div class="mrg2">
      <div class="pull-left"><img src="assets/new-home-page/single/images/Transparent.png" height="50"/></div>
      <button class="pull-right btn btn-default btn-sm" style="margin: 10px 0;" id="logout"><i
        class="fa fa-power-off"></i> Logout
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</nav>
<section class="back2">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="mrg">Your details should be confirmed by your provisional reference doctors</h3>

          <p class="mrg_btm text-center">If you have queries you can Contact us at info@therightdoctors.com</p>
        </div>
      </div>


    </div>

  </section>
</section>
